/* :host {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.margin-bottom {
    margin-bottom: 70px;
}

:host {
    background-color: #ffffff;
    min-height: 100vh;
    max-width: 100vw;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    /* overflow: hidden !important; */
    position: relative;
    overflow: auto;
}

.padding-top {
    /* padding-top: 55px; */
    padding-top: 70px;
}

.icon-facebook {
    position: absolute;
    height: 22px;
    left: 7px;
}
@media (min-width: 767.98px) {
    .padding-top {
      /* padding-top: 55px; */
      padding-top: 70px;
    }
    .padding-top-top{
        padding-top: 39px;
    }
  }

@media (max-width: 767.98px) {
    .div-mobile-version {
        position: fixed !important;
        bottom: 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        background: #343ab7;
        color: white;
        border-top: 2px solid #6c768c;
    }
    .top-10 {
        margin-top: 15px !important;
    }
    /* .margin-bottom {
        margin-bottom: 0 !important;
    } */
     :host {
        background-image: url('assets/Images/backgrounds/bgdblue-simple.svg');
        min-height: 100vh;
        max-width: 100vw;
        min-width: 300px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        background-repeat: no-repeat;
        /* overflow: hidden; */
        align-items: center;
        justify-content: center;
    }
    /* .padding-top {
        padding-top: 80px !important;
    } */
    /* .div-connect-fb {
        width:253px !important;
    } */
    .skip-page,
    .drak-gray_text {
        color: white !important;
    }
    .title_page {
        font-size: 32px;
        color: white !important;
    }
    .show-mobile {
        display: block !important;
    }
    .make-center {
        text-align: center !important;
    }
    /* .white-text-span {
        font-size: 17px !important;
    } */
}

@media (max-width: 575.98px) {
    .title_page {
        font-size: 25px !important;
        line-height: 26px !important;
    }
    .height-pic {
        height: 120px !important;
    }
    .margin-top-btn {
        margin-top: 1rem !important;
    }
}

.margin-top-btn {
    margin-top: 3rem;
}

.title_page {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 0.03em;
    color: #1f2337;
}

.drak-gray_text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #323754;
}

.login_img {
    cursor: pointer;
}

.div-connect-fb {
    /* background: #1877f2;
    border: 1.63449px solid #4048ff; */
    background: #1967ff;
    border: none;
    border-radius: 43px;
    height: 40px;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 253px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.div-connect-fb:hover {
    background: #004ce1;
}

.white-text-span {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: #ffffff;
}

.gray-text-span {
    color: #8d8d8d;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
}

.skip-page {
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 15px;
    color: #4048ff;
    text-decoration: none;
    cursor: pointer;
}

.skip-page2 {
    font-weight: 400 !important;
}

a:not([href]):not([tabindex]) {
    color: #4048ff;
}

.top-10 {
    margin-top: 10vh;
}

.show-mobile {
    display: none;
}

.error-message {
    color: #f52079;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.successLink {
    color: #00cc9e;
    display: flex;
    justify-content: center;
}

.disabled {
    color: #8d8d8d !important;
    background: #eeeeee !important;
    border: none !important;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
}