@import '../../../styles/common.scss';
:host {
  display: block;
  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 112%;
    /* dark grey */
    color: #323754;
    margin: 0;
    width: 86%;
  }
  .fbClass {
    height: 40px;
  }
  .title-case::first-letter {
    text-transform: uppercase;
  }
  .search-input-wrapper {
    justify-content: flex-end;
    gap: 0.5em;
    align-items: flex-start;
  }
  #key {
    background-image: url('/assets/Images/search5.svg');
    background-position: 13px;
    background-repeat: no-repeat;
    margin-left: 0.1%;
    width: 100%;
    padding-left: 45px;
    font-style: normal;
    font-size: 20px;
    height: 48px;
    border: 1px solid #d6d6e8;
    border-radius: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .btn-flt {
    cursor: pointer;
    /* margin-top: 1.7rem; */
    background-position: center;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 100%;
    color: #4048ff;
    background-color: white;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 15%);
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 48px;
  }
  .btn-flt.toggled {
    color: white;
    background-color: #4048ff;
  }
  .btn-flt:not(.toggled):hover {
    background: #f6f6ff;
    border: 1px solid #d8d9fe;
  }
  .btn-flt-mob {
    width: 100%;
    border-radius: 30px;
    height: 50px;
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;
    border: none;
    display: none;
    background-image: url('/assets/Images/icon-filt-blu.svg');
    background-repeat: no-repeat;
    background-size: 5%;
    background-position: 35%;
    color: #4048ff;
    font-weight: 900;
    background-color: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  }
  .btn-blue {
    background: white;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 22.1827px;
    color: blue;
    border: none;
    height: 48px;
    width: 20%;
    cursor: pointer;
    letter-spacing: 0.03em;
  }
  .btn-blue:hover {
    border: 2px solid #0009d3;
    box-shadow: none;
  }
  .filter-wrapper {
    display: none !important;
    margin: 1em auto;
  }
  .show-filter {
    display: flex !important;
    flex-wrap: wrap;
    gap: 0.5em;
  }
  .select-group {
    background-color: white;
    display: flex;
    margin-right: 1em;
    border-radius: 20px;
    box-shadow: 0px 2px 10px 5px rgb(0 0 0 / 10%);
    padding: 0.8em 0.2em;
    justify-content: center;
    align-items: center;
    max-width: max-content;
    .label-filter-option {
      background: #f6f6ff;
      /* medium grey */
      border: 1px solid #d6d6e8;
      box-sizing: border-box;
      border-radius: 15px;
      margin: auto 0.5em;
      padding: 0.5em;
      min-width: 50px;
      height: 40px;
      display: flex;
      justify-content: center;
      letter-spacing: 0.03em;
      align-items: center;
      /* grey */
      color: #adadc8;
      cursor: pointer;
    }
    .label-filter-option.selected {
      background: #4048ff !important;
      color: #ffffff;
    }
    .social-media-option {
      border-radius: 50%;
      height: 40px;
      width: 40px;
      min-width: 40px;
    }
    .social-media-option {
      img {
        width: 40px;
      }
    }
  }
  .form-control-title {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 125.9%;
    /* identical to box height, or 18px */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    /* hard grey */
    color: #75758f;
  }
  .satt-symbol {
    text-transform: none;
  }
  .social-media-control-label {
    margin: auto 1em;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 125.9%;
    /* identical to box height, or 18px */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    /* hard grey */
    color: #75758f;
  }
  .link-status-label {
    background-color: #d6d6e8 !important;
  }
}

@media (max-width: 475.98px) {
  :host .title {
    font-size: 20px !important;
  }
}
.placeholder-search {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  /* hard grey */

  color: #75758f;
}
