:host-context(.fromWallet) {
  @media (max-width: 960px) {
    .ul-left-side {
      margin-bottom: 0;
      /* margin-left: 56px; */
      align-items: center;
      list-style: none;
      padding: 0;
      margin-top: 12px;
      display: none !important;
    }
  }
}

.icohead {
  font-size: 20px;
  color: white;
  text-decoration: none;
  margin-left: 281%;
}

.icondropLock {
  margin-right: 17px !important;
}

.icondrop {
  font-size: 16px;
  margin-right: 20px;
}

.logoMobile {
  width: 56px;
  height: 56px;
  background: #ffffff;
  box-shadow: 0px 0px 14px #79a9ff;
  border-radius: 35.8333px;
}

.logo {
  width: 56px;
  height: 56px;
}

.anim-gif {
  /* height: 71px;
    margin-left: -17px;
    margin-top: -14px; */
  height: 49px;
  margin-left: -8px;
  margin-top: -10px;
}

.anim-gif-mobile {
  /* height: 76px;
    padding-left: -6.5rem;
    padding: 11px;
    margin-left: -31px !important;
    margin-top: -24px; */
  height: 48px;
  margin-left: -8px;
  margin-top: -8px t;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .anim-gif-mobile {
    height: 48px;
    margin-left: -8px !important;
    margin-top: -8px !important;
  }
}

@media (max-width: 767.98px) {
  .anim-gif-mobile {
    height: 48px;
    margin-left: -16px !important;
    margin-top: -8px !important;
  }
}

.flex-start {
  align-self: flex-start;
}

.nav_i {
  border-bottom: 1px solid #47526a;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 9vh;
  letter-spacing: 0.03em;
  color: white;
  margin-left: 15px;
  padding-left: 20px;
  padding: 1px;
  text-align: center;
  align-self: stretch;
}

.logout_mobile {
  color: #f52079;
  border-bottom: none !important;
}

.betanav {
  height: 55px;
  margin-right: 5px;
}

.beta:hover {
  background-color: #dc8924;
}

.beta {
  height: 43px;
  width: 100%;
  font-weight: 400;
  background-color: #f7931a;
  border: 1px solid #1f7fef66;
  font-size: 10px;
  font-style: normal;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  /* padding-right: 0.5rem;
    padding-left: 0.5rem; */
  border-radius: 30px;
}

.sidebarMore {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  max-height: -webkit-fill-available;
  height: calc(var(--vh, 1vh) * 100);
  background: linear-gradient(0deg, #1f2337, #1f2337), #221f37;
  overflow-y: hidden;
  overflow-x: hidden;
  position: fixed;
  /* top: 82px; */
  top: 56px;
  border: none;
  z-index: 104;
}

.adress-mobile {
  font-size: 12px !important;
}

.user_pic_more {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  border: #eee solid 2px;
  align-items: center;
  padding: 0;
}

.myprofile:focus {
  background: transparent;
}

.myprofile {
  position: relative;
  border-radius: 30px;
  min-width: 164px;
  background: #323754;
}

.userNamee {
  color: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0px;
  margin-left: 8px;
}

.vector_mobile {
  margin-right: 6px;
}

.notify_mobile {
  width: 8px;
  height: 9px;
}

.gazIndicator_mobile {
  /*  width: 78vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-left: 6%;
    line-height: 7vh;*/
}

.gazBox {
  box-sizing: border-box;
  border: 0.3px solid white;
  border-radius: 40px;
  height: 72px;
}

.uesr_info {
  align-self: stretch;
  line-height: 7vh;
}

.btn-tablet {
  width: 43px !important;
}

.gazIndicator_tablet {
  padding: 3px 8px !important;
}

@media (max-width: 767.98px) {
}

a.click-to-top span {
  min-width: 200px;
  padding: 0px;
  margin-top: 1.5%;
  right: 60px;
  z-index: 1;
  display: none;
  position: absolute;
  background-color: rgb(54 204 158);
  color: #fff;
  text-align: center;
  border-radius: 15px;
}

a.click-to-top:hover span {
  display: block;
}

:host {
  display: block;
  /* height: 82px; */
  /* height: 68px; */
  height: 62px;
}

.atayan_logo {
  width: 137px;
  height: 46px;
  /* width: 127px;
    height: 38px; */
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.itemnotification {
  width: 100%;
}

.itemnotification:hover {
  background-color: #e8ebed !important;
}

.nav-item {
  line-height: 40px;
  padding-right: 0.1rem;
  padding-left: 0.5rem;
}

.sidebar_tog {
  padding-left: 0rem;
}

.btntoggle {
  width: 100px;
  height: 43px;
  color: #ffffff;
  text-align: center;
  padding-right: 0rem !important;
}

.nav-item .navBox:hover {
  /*background-color: rgba(246, 246, 255, 0.1);*/
  cursor: pointer;
}

.notif_toggler {
  align-items: baseline;
  padding: 6px 12px !important;
  border-radius: 50px;
}

.navBox {
  box-sizing: border-box;
  border-radius: 30px;
  padding: 1px;
}

.userBox {
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: baseline;
  padding: 1px 10px !important;
}

.avatarimageM {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  border: #eee solid 2px;
  align-items: center;
}

.userNamee {
  color: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 4px;
  margin-left: 21px;
}

.vector_mobile {
  margin-right: 6px;
}

.notify_mobile {
  width: 8px;
  height: 9px;
}

.gazIndicator_mobile {
  width: 78vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  /* margin-left: 6%;
    line-height: 7vh;*/
}

.gazBox {
  box-sizing: border-box;
  border: 0.3px solid white;
  border-radius: 40px;
}

.user_info {
  align-self: stretch;
  line-height: 7vh;
}

*:focus {
  outline: none;
  -webkit-box-shadow: none;
}

.btntoggle {
  width: 174px;
  height: 42px;
  color: #ffffff;
  text-align: center;
  padding-right: 0rem !important;
}

.dropdown.open .fa {
  transform: rotate(180deg);
}

.gazIndicator {
  cursor: default !important;
  display: flex;
  align-items: baseline;
  padding: 1px 21px !important;
}

.navbar-nav {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* gap: 5px; */
}

.three-point-notif {
  width: auto;
  height: 18px;
  margin-top: -11px;
}

.three-points {
  border-color: transparent !important;
}

.three-points:focus {
  border-color: transparent !important;
}

.navbar-toggler {
  color: #fff;
}

.tool {
  color: #fff;
}

.tool .tooltext {
  visibility: hidden;
  min-width: 186px;
  background-color: rgb(54 204 158);
  color: #fff;
  text-align: center;
  border-radius: 15px;
  padding: 0px;
  margin-top: 2.6rem;
  right: 325px;
  position: absolute;
  z-index: 1;
}

.tool:hover .tooltext {
  visibility: visible;
}

.tool .tooltextM {
  visibility: hidden;
  min-width: 186px;
  background-color: rgb(54 204 158);
  color: #fff;
  text-align: center;
  border-radius: 40px;
  margin-top: 4.7rem;
  right: 33%;
  position: absolute;
  z-index: 1;
  height: 80px;
}

@media (max-width: 375px) and (min-width: 300px) {
  .tool .tooltextM {
    right: 25%;
  }
}

.tool:hover .tooltextM {
  visibility: visible;
}

.vector {
  margin-right: 6px;
  padding-top: 0px;
  margin-top: -4px;
}

.navbar .sidebar-toggler-btn {
  position: fixed;
  left: 236px;
  top: 30px;
  cursor: pointer;
}

.navbar .sidebar-toggler-btn-toggled {
  position: fixed;
  cursor: pointer;
  left: 243px;
  top: 37px;
}

.navbar .sidebar-toggler-btn-tablet {
  position: fixed;
  left: 236px;
  top: 30px;
  cursor: pointer;
}

.navbar .sidebar-toggler-btn-tablet-toggled {
  position: fixed;
  left: 244px;
  top: 37px;
  cursor: pointer;
}

ul .notif_drop {
  overflow-y: scroll;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  flex-wrap: wrap;
  height: 100%;
  overflow-x: hidden;
}

ul.dropdown-menu.notif_drop_main.show {
  /* margin-top: 25px; */
  margin-top: 14px;
  left: inherit;
  right: 0px;
  /* right: -32px; */
  padding: 0px;
  border: none;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  width: 450px;
  height: 90vh;
}

.notif-md-link {
  display: none;
}

@media (max-height: 850px) {
 
  ul.dropdown-menu.notif_drop_main.show {
    /*
        width: 300px;
        */
    height: 88vh;
  }
}

@media (max-width: 880.98px) {
  .li-menu {
    padding: 5px !important;
  }
}

@media (max-width: 1111px) and (min-width: 768px) {
  /* .right-menu {
        display: none;
    } */
  .li-menu {
    margin: 0 !important;
  }
  .height-fluid {
    height: 44px;
    justify-content: flex-start !important;
  }
  .chevron-wallet {
    display: none;
    width: 0;
    height: 0;
  }
  .btnDRP {
    border-radius: 50%;
    width: 45px !important;
    gap: 0 !important;
  }
  /* ul.dropdown-menu.notif_drop_main.show {
        width: 300px;
        height: 90vh;
    } */
  .notifBody {
    max-width: 240px;
  }
  .link-hash {
    width: auto !important;
  }
  .li-menu-profil {
    display: none !important;
  }
  .notif-md-link {
    display: block !important;
  }
  .notifLink {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  ul.dropdown-menu.notif_drop_main.show {
    position: absolute;
  }
}

.dropdown-tablette-profile-md.show {
  transform: translate3d(-8px, 21px, 0px) !important;
}

.div-md-pic {
  position: absolute;
  right: 73px;
}

@media (width: 992px) and (height: 1024px) {
  .navbar .sidebar-toggler-btn-tablet {
    left: 237px !important;
  }
  .beta {
    height: 44px;
    font-weight: 900;
    background-color: #f7931a;
    border: 1px solid #1f7fef66;
    font-size: 9px;
    font-style: normal;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 30px;
  }
}

.padding-notifOff {
  padding-left: 6px;
  padding-bottom: 13px;
}

@media (max-width: 991.98px) {
  .ul-left-side {
    margin-top: 0px !important;
  }
  .dropdown-tablette-profile.show {
    transform: translate3d(-56px, 9px, 0px) !important;
  }
  .div-copy-wallet-mobile {
    /* position: relative; */
    position: absolute;
    right: 73px;
    /* right: 131px; */
    top: 8px;
  }
  .width-logo-mobile {
    width: 40px;
    margin-left: 2px !important;
  }
  .adress {
    line-break: anywhere;
    text-align: center;
  }
  .btnDropdown {
    width: 28% !important;
  }
  .btnDRP {
    border-radius: 50%;
    background: linear-gradient(180deg, #323754 0%, rgba(50, 55, 84, 0) 100%);
    /* background-color: #323754; */
    width: 48px !important;
    /* position: absolute !important;
        right: 130px;
        top: 17px; */
  }
  .beta {
    width: 130px !important;
  }
  ul.dropdown-menu.notif_drop_main.show {
    width: 300px;
    height: calc(100vh - 100px);
    margin-top: 7px !important;
    left: inherit;
    right: 3px !important;
    padding: 0px;
    border: none;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 20%);
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    overflow-y: scroll;
    margin-bottom: 100px;
  }
  .li-dropdown:last-child {
    margin-bottom: 100px;
  }
  .last_notif {
    margin-bottom: 100px;
  }
}

@media (max-height: 360px) {
  ul.dropdown-menu.notif_drop_main.show {
    height: 76vh !important;
  }
  .gazBox {
    height: 51px !important;
  }
  .sidebarMore {
    top: 72px !important;
  }
}

.navbar .sidebar-toggler-btn-tablet-toggled:hover,
.navbar .sidebar-toggler-btn-toggled:hover,
.navbar .sidebar-toggler-btn-tablet:hover,
.navbar .sidebar-toggler-btn:hover {
  border-radius: 50%;
  box-shadow: 0px 0px 0px 8px #4545e626;
}

.notif_toggler:hover {
  border-radius: 50px;
  background-color: #4545e626;
}

.arrow {
  font-size: 0.7rem;
  color: #fff;
  margin-left: 1em;
  margin-right: 1em;
}

ul .dropdown .dropdown-item {
  line-height: 30px;
}

.dropdown-item:hover,
.dropdown-item:focus {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #d6d6e8;
  color: black;
}

ul.droptrans.show {
  min-width: 10px;
  right: 16px;
}

li {
  font-size: 14px;
}

.navbar .show {
  display: block;
}

.hide {
  display: none;
}

.notif_icon {
  width: 35px;
}

.li-dropdown {
  border-bottom: 1px solid #d6d6e8;
}

.detail {
  float: right;
}

.btn-blue {
  padding-top: 8px;
  background: white;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 22.1827px;
  color: #4048ff;
  border: none;
  width: 40%;
  height: 40px;
  cursor: pointer;
  letter-spacing: 0.03em;
}

.btn-blue:hover {
  border: 2px solid #4048ff;
  box-shadow: none;
}

.btn-blue:focus {
  border: 2px solid #d6d6e8;
  box-shadow: none;
}

ul .notif_drop_main {
  background: #fff;
}

/* ul .notif_drop {
    overflow-y: scroll;
    width: 100%;
    line-height: 16px !important;
    font-size: 12px;
    flex-wrap: wrap;
} */

.clear-fix:before,
.clear-fix:after {
  content: ' ';
  display: table;
}

.clear-fix:after {
  clear: both;
}

.params_notif {
  padding: 2px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  border-bottom: 0.3px solid #d6d6e8;
}

.icc {
  font-size: 15px;
  color: white;
}

.photo_notif {
  font-size: 22px;
  color: white;
  text-align: center;
  padding-left: 10%;
}

.photo_notif_mobile {
  font-size: 22px;
  color: white;
  text-align: center;
  margin-left: -2px;
  margin-top: 4px;
}

.notifBody {
  width: 100%;
  max-width: 80%;
}

.label_time_notif {
  color: #75758f;
  letter-spacing: 0.03em;
}

.text_notif {
  word-break: break-word;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #1f2337;
}

.title_notif {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  align-items: center;
  letter-spacing: 0.75px;
  color: #1f2337;
}

.notif_drop::-webkit-scrollbar {
  width: 5px;
}

.notif_drop::-webkit-scrollbar-track {
  background: transparent;
  /* color of the tracking area */
}

.notif_drop::-webkit-scrollbar-thumb {
  background-color: #b1b1bb;
  border-radius: 20px;
  border: 3px solid#b1b1bb;
}

a {
  text-decoration: none;
  color: white;
}

.logout {
  color: #f52079;
}

.logMeOut {
  margin-right: 5px;
}

.log_out_wallet {
  color: #fff;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: baseline;
  padding: 1px 10px !important;
}

.avatarimage {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  border: #fff solid 0.3px;
  margin-left: -1px;
  margin-right: 10px;
  margin-top: -3px;
}

.gazLink {
  border-radius: 30px;
  background-color: #323754;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.notifLink {
  border-radius: 50%;
  height: 48px;
  width: 48px;
  background: linear-gradient(180deg, #323754 0%, rgba(50, 55, 84, 0) 100%);
  /* background-colorgb(14, 14, 17)754; */
  align-items: baseline;
  border: none;
  /*padding-right: 10px !important;
    padding-top: 0px !important;*/
}

.link {
  /* border-bottom: 0px solid #4048ff; */
  color: #4048ff;
}

.link-hash {
  color: #4048ff;
  /*
    width: 350px;
    */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.profil-item {
  padding-left: 18px !important;
}

.three-points {
  border-color: transparent !important;
}

.navbar-toggler {
  color: #fff;
  margin-left: -15px;
  cursor: pointer;
}

.arrow {
  font-size: 0.7rem;
  color: #fff;
  margin-left: 0.8em;
}

.arrowpprofil {
  margin-top: 1.5em;
  float: right;
}

.dropdown-header {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  color: black;
  border-radius: inherit;
  justify-content: space-between;
  align-items: center;
}

.dropdown-menu-footer {
  color: #4048ff;
  border-radius: inherit;
  position: relative;
}

.log_out_wallet {
  color: #fff;
  cursor: pointer;
}

.log_out_wallet:hover {
  color: #f52079;
}

li:focus {
  border: none !important;
}

.params_notif:hover,
.params_notif:focus {
  background-color: rgb(214, 214, 228);
}

.params_notif::before {
  background-color: red;
}

/*----------------------css dropdown menu profile------------*/

.dropdown-toggle::after {
  outline: none !important;
  display: none;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.dropdown-menu2 {
  width: 100%;
  border: none;
  background: #4f546d;
  /* background: none; */
  position: relative !important;
  transform: none !important;
  top: 0px !important;
  padding: 0.5rem 0 0 0 !important;
  /* height: 125px; */
}

.dropdown2 {
  outline: none !important;
  background: linear-gradient(180deg, #323754 0%, rgba(50, 55, 84, 0) 100%);
  /* background: #323754; */
  border-radius: 30px;
  width: 100%;
  /* border: 1px solid #323754; */
  padding: 0;
  overflow: hidden;
}

.dropdown-tablette-profile-md,
.dropdown-tablette-profile {
  outline: none !important;
  /* background: linear-gradient(180deg, #323754 0%, rgba(50, 55, 84, 0) 100%); */
  background-color: #4f546d;
  /* background: #323754; */
  border-radius: 30px;
  width: 100%;
  top: 33px;
  /* border: 1px solid #323754; */
  overflow: hidden;
  padding: 0;
}

.dropdown-tablette-profile.show {
  transform: translate3d(-56px, 22px, 0px);
}

.chevron:before {
  font-style: normal, 'Open Sans', sans-serif, 'FontAwesome' !important;
  font-size: 0.9rem;
  content: '\f107';
  display: inline-block;
  line-height: 22px;
  color: #ffffff;
  position: absolute;
  right: 15px;
  top: 10px;
}

.dropdown-toggle-content {
  position: relative;
  /* height: 44px; */
  height: 48px;
  width: 48 !important;
  /* gap: 0 !important; */
  padding: 4px;
  width: 100%;
  text-align: initial;
  cursor: pointer;
}

.dropdown-toggle-content-wallet {
  /* width: 45px !important; */
  width: 48px !important;
}

.dropdown2.show {
  transform: translate3d(0px, 63px, 0px) !important;
}

.span-userName {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  width: 90px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  margin-top: -20%;
  margin-left: 25%;
}

.icoo {
  font-size: 18px;
}

.deconnect_icon {
  border-top: 1px solid rgba(173, 173, 200, 0.3);
  color: #ffffff;
}

.profil_icon :hover,
.profil_icon :focus {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #ffff;
  color: #323754;
}

.legal_icon :hover,
.legal_icon :focus {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #ffff;
  color: #323754;
}

.security_icon :hover,
.security_icon :focus {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #ffff;
  color: #323754;
}

.deconnect_icon :hover,
.deconnect_icon :focus {
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #ffff;
  color: #323754;
}

.li-menu-profil {
  min-width: 174px;
  position: relative;
  z-index: 99;
  display: block;
}

.dropdown-item-profil {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #ffffff;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

/*-----------------------------------end css dropdown menu profile ------ */

.menu-mobile {
  outline: none !important;
  background: #3237542e;
  border-radius: 30px;
  /* width: 105px; */
  width: 48px;
  height: 48px;
  /* height: 48px;
    border: 1px solid #323754; */
  padding: 0;
  display: flex;
  float: left;
  flex-direction: row;
  /* justify-content: center; */
  margin-left: 0px !important;
}

.avatar-mobile {
  margin-top: -3px !important;
  margin-left: -11px !important;
}

.avatar-mobilee {
  margin-top: 1px !important;
  margin-left: -7px !important;
}

.btn-toggle-pic-mobile {
  position: absolute;
  right: 109px;
  /* right: 62px; */
}

.btn-toggle-pic-mobilee {
  position: absolute;
  right: 109px;
  /* right: 112px; */
}

.dropdown-menu-mobile {
  width: 100%;
  border: none;
  background: none;
  position: absolute !important;
  transform: none !important;
  top: 0px !important;
  right: 0px;
}

.dropdown-mobile {
  outline: none !important;
  background: #323754;
  border-radius: 30px;
  width: 100%;
  border: 1px solid #323754;
  padding: 0;
}

.gap {
  gap: 1rem;
}

.span-wallet {
  color: #ffffff;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 35px;
  text-decoration: underline;
}

.span-wallet2 {
  color: #ffffff;
  /*display: inline-flex;
    width: 100px;*/
  overflow: hidden;
  display: inline-flex;
  width: 51px;
  justify-content: flex-end;
  text-decoration: underline;
}

.span-text-wallet {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  text-decoration: underline;
}

.img-copied {
  cursor: pointer;
}

.vline {
  border-left: 1px solid #75758f;
}

.btnDRP {
  border-radius: 30px;
  /* background-color: #323754; */
  background: linear-gradient(180deg, #323754 0%, rgba(50, 55, 84, 0) 100%);
  width: 94px;
}

/*
.menudrp {
    border-radius: 20px;
    background-color: #323754;
    width: 558px;
    position: absolute;
    height: fit-content;
}*/

.menudrp {
  border-radius: 20px;
  /* background-color: #323754; */
  position: absolute;
  left: auto;
  /* right: -100px; */
  width: 490px;
  /* top: 58px; */
  background: linear-gradient(
    180deg,
    #323754 38.54%,
    rgba(44, 55, 119, 0.982203) 58.85%,
    rgba(31, 56, 202, 0.94) 100%
  );
  /* right: -61px;
        top: 44px; */
  width: 490px;
  right: 0;
  top: 59px;
}

.Bep {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  /* or 125% */
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.adress {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.adress-mobile {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.btnW {
  /* position:static;
left: 41.56% ;
right: 40.11% ;
top: 18.3% ;
bottom: 77.54% ; */
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 22.1827px;
  display: inline-block;
}

.MOB {
  width: 200px;
}

.np {
  color: #00cc9e;
  font-size: 23px !important;
}

.btnDropdown {
  border-radius: 30px;
  background-color: white;
  width: 20%;
  height: 40px;
  color: blue;
  border: none;
}

.btnDropdown-mobile {
  border-radius: 30px;
  background-color: white;
  width: 24%;
  height: 40px;
  color: blue;
  border: none;
  font-size: 4vw;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btnDropdown :hover {
  background-color: blue;
  color: white;
}

.line {
  color: white;
  width: 373px;
  justify-content: center;
}

.icn {
  color: white;
  font-size: 8px;
}

.Greenmsg {
  color: #00cc9e;
  background: #00cc9e33;
  border-radius: 30px;
  width: 65%;
  height: 40px;
}

.Greenmsg-mobile {
  color: #00cc9e;
  background: #00cc9e33;
  border-radius: 30px;
  width: 87%;
  height: 40px;
}

.QR :hover,
.QR :focus,
.QR :active {
  background-color: aqua;
}

.sidebarMoreMobile {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 105%;
  max-height: -webkit-fill-available;
  height: calc(var(--vh, 1vh) * 100);
  background: linear-gradient(
    180deg,
    #323754 38.54%,
    rgba(44, 55, 119, 0.982203) 58.85%,
    rgba(31, 56, 202, 0.94) 100%
  );
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  /* top: 82px; */
  border: none;
  z-index: 104;
  /* top: 82px; */
  top: 56px;
  /* margin-top: 59px; */
  min-height: 100vh;
}

:host ::ng-deep .popover-body {
  background-color: #fff;
  color: rgb(50 55 84);
  padding: 0rem 1rem;
  border-radius: 10px;
}

.desktop-menu {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
  /* width: 100%; */
}

.navbar {
  /* background: rgba(31, 35, 55, 0.8); */
  background: linear-gradient(
    180deg,
    rgba(31, 35, 55, 0.7) 27.82%,
    rgba(31, 35, 55, 0) 161.54%
  );
  /* height: 56px; */
  height: 63px;
  width: 100%;
  z-index: 999 !important;
  color: white;
  position: fixed;
}

.navbar-trans {
  background: linear-gradient(
    180deg,
    rgba(31, 35, 55, 0.7) 21.94%,
    rgba(31, 35, 55, 0) 93.77%
  );
}

@media (min-width: 1024px) {
  .three-points,
  .div-copy-wallet-mobile,
  .btn-toggle-pic-mobile {
    display: none !important;
  }
}
@media (max-width: 1023.98px) {
  .three-points,
  .div-copy-wallet-mobile,
  .btn-toggle-pic-mobile {
    display: block;
  }
  .div-copy-wallet-mobile {
    position: absolute;
    right: 73px;
    top: 8px;
  }

  ul.dropdown-menu.notif_drop_main.show {
    width: 284px !important;
  }
  .desktop-menu,
  .right-menu {
    display: none !important;
  }
  .image-tablette {
    display: none !important;
  }
  .navbar {
    background: linear-gradient(
      180deg,
      rgba(31, 35, 55, 0.53) 0%,
      rgba(31, 35, 55, 0) 100%
    );
  }
  .navbar-dark-blue {
    background: linear-gradient(
      180deg,
      rgba(31, 35, 55, 0.7) 27.82%,
      rgba(31, 35, 55, 0) 161.54%
    );
  }
  .navbar-wallet-dark {
    background: linear-gradient(
      180deg,
      rgba(31, 35, 55, 0.7) 27.82%,
      rgba(31, 35, 55, 0) 161.54%
    );
  }
  .navWallet {
    background: #323754;
  }
  .btnDRP,
  .notifLink {
    background: #3237542e;
  }
  .navbar-success {
    background: linear-gradient(
      rgb(0 204 158) 27.82%,
      rgb(64 204 158) 161.54%
    ) !important;
  }
  .navbar-fail {
    background: linear-gradient(
      rgb(245 32 121) 27.82%,
      rgb(245 32 121) 161.54%
    ) !important;
  }
}

.position_icon_notif_mobile {
  position: absolute;
  /* right: 24px;*/
  top: 8px;
  right: 20px;
}

.position_icon_profil_mobile {
  position: absolute;
  /* right: 12px; */
  /* top: -22px; */
  right: 16px;
  top: -20px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.position_icon_wallet_mobile {
  position: absolute;
  right: 12px;
  top: -20px;
}

.color-white {
  color: white;
}

.see-all {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  /*
    line-height: 130%;
    */
  color: #4048ff;
  margin-bottom: 0px !important;
  margin-top: 7px;
}

.see-all-hr {
  width: 40%;
  height: 1px;
  background: #d6d6e8;
  align-self: center;
}

.see-all-text-cantainer {
  width: 20%;
  align-self: center;
}

.see-all-flex {
  display: flex;
  flex-direction: column;
}

.see-all-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;
}

.see-all-mb {
  margin-bottom: 2rem !important;
}

.chevron-down-icn {
  font-style: normal;
  font-size: 10px;
  line-height: 80%;
  color: #4048ff;
}

.icon-notif-margin {
  margin: 0.75rem 0.5rem 0.75rem 1rem;
}

.notif-text-padding {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.no-more-notif {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #75758f !important;
}

@media (max-width: 760px) {
  .icon-notif-margin {
    margin: 0.75rem 0.5rem 0.75rem 0.5rem;
  }
  .btn-blue {
    font-size: 12px;
  }
  .see {
    display: flex !important;
    justify-content: center !important;
  }
}

.grey {
  background-color: rgb(241, 236, 236);
}

.ul-left-side {
  margin-bottom: 0;
  /* margin-left: 56px; */
  align-items: center;
  list-style: none;
  padding: 0;
  margin-top: 12px;
}

.li-menu {
  border-radius: 19px;
  padding: 0.5em 1em;
  /* margin-right: 20px; */
}

.li-menu a {
  display: block;
  white-space: nowrap;
}

.hover-bg {
  background: #323754 !important;
}

/*
.li-menu .wallet {
    width: 100%;
    padding: 0px 3em;
        padding: 0px 40px;
}

.li-menu .adpools {
    width: 100%;
    padding: 0em 3em;
        padding: 0px 43px;
}

.li-menu .farmPost {
    width: 100%;
    padding: 0em 2.4em;
    padding: 0px 31px;
}

.li-menu .history {
    width: 100%;
    padding: 0em 2em;

}

.li-menu .help {
    width: 100%;
    padding: 0em 3.5em;
        padding: 0px 48px;
}
*/

.li-menu:hover,
.li-menu:focus {
  /* background: #323754; */
  font-weight: bold;
}

.button-connect {
  width: 120px;
  height: 41px;
  border: none;
  background: #f52079;
  color: white;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  border-radius: 30px;
  position: absolute;
  right: 1em;
  /* padding: 0.5em 1em; */
}

.sign-in {
  background: #f52079;
  border-radius: 30px;
}

.button-connect:hover,
.sign-in:hover {
  background: linear-gradient(
    85.14deg,
    #f52079 -1.05%,
    #4048ff 103.39%
  ) !important;
}

li.li-menu.sign-up {
  background: linear-gradient(180deg, #323754 0%, rgba(50, 55, 84, 0) 100%);
  border-radius: 30px;
}

li.li-menu.sign-up:hover {
  background: #f6f6ff;
}

li.li-menu.sign-up:hover a {
  color: #1f2337 !important;
}

li.li-menu.is-visited {
  font-weight: bold;
  /* background: #1f2337; */
  /* opacity: 0.7; */
}

li.li-menu.is-visited a {
  font-weight: bold;
}
