:host {
  display: block;
}

* {
  outline: none;
}

.btn-disabled {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  position: absolute;
  cursor: default;
  border: none;
  background: #f6f6ff;
  color: #adadc8 !important;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 15%);
  text-align: center;
  border-radius: 1px;
  bottom: 0px;
  // height: 65px;
  height: 63px;
  width: 100%;
  right: 0px;
}

.click-overlay {
  position: absolute;
  width: 100%;
  height: 90%;
}

.btn-disabled-rejected {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  position: absolute;
  cursor: default;
  border: none;
  background: #ffffff;
  color: #f6f6ff !important;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 15%);
  text-align: center;
  border-radius: 1px;
  bottom: 0px;
  height: 65px;
  width: 100%;
  right: 0px;
}

hr.new1 {
  border: 1px solid #d6d6e8;
  // margin-top: -27px;
  margin: -31px 27px 14px 27px;
}

hr.new2 {
  margin: -31px 27px 14px 27px;
  height: 0.4px;
}

.a_link {
  padding-left: 0 !important;
}

.buttom_camp {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  position: absolute;
  /* bottom: 14px; */
  cursor: default;
  /* height: 48px;
      width: 95%; */
  /* left: 10px; */
  border: none;
  /* border-radius: 30px; */
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  text-align: center;
  background: #f6f6ff;
  border: none;
  border-radius: 1px;
  bottom: 0px;
  height: 65px;
  width: 100%;
  right: 0px;
}

.cmp-stat {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #1f2337;
}

.black-text {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #1f2337;
}

.hrstyle {
  width: 80%;
  /* align-content: center; */
  margin: auto;
  border: 1px solid #f6f6ff;
  /* height: 0.5px; */
  opacity: 0.1;
}

.black-text-earning {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 125.9%;
  /* or 18px */
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #adadc8;
}

.buttom_camp3 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  position: absolute;
  /* bottom: 14px; */
  cursor: default;
  /* height: 48px;
      width: 95%; */
  /* left: 10px; */
  border: none;
  /* border-radius: 30px; */
  background: #00cc9e;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  text-align: center;
  border-radius: 1px;
  bottom: 0px;
  height: 65px;
  width: 100%;
  right: 0px;
  // z-index: 99;
}

.buttom_camp3:hover {
  background: #009775;
}

.buttom_camp3:focus {
  background: #009775;
  border: 3px solid rgba(0, 204, 158, 0.5);
}

.margin-right {
  margin-right: 0% !important;
}

.hourglass {
  margin-right: 3%;
}

.btn-apply-text {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #ffa318;
  border: none;
  letter-spacing: 0.03em;
}

.rejected-message {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 110%;
  /* or 15px */
  text-align: center;
  letter-spacing: 0.02em;
}

.text-pink {
  color: #f52079;
}

.text-orange {
  color: #ffa318;
}

.btn-apply-dis {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #adadc8;
  border: none;
  height: 50px;
  width: 37%;
  letter-spacing: 0.03em;
}

.btn-participe-text {
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: grey;
  border: none;
  height: 50px;
  width: 37%;
  cursor: pointer;
  letter-spacing: 0.03em;
}

::ng-deep.swal2-styled.swal2-confirm {
  border-radius: 30px !important;
  background: #4048ff;
  border: none;
  width: 141px;
}

::ng-deep.swal2-styled.swal2-cancel {
  border-radius: 30px !important;
  background: #ffffff;
  width: 142px;
  color: rgba(64, 72, 255, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}

::ng-deep.swal2-popup {
  width: 287px;
  border-radius: 30px !important;
  background: #ffffff;
  border-radius: 30px;
}

.icon_oracle {
  position: absolute;
  height: 8%;
  left: 15px;
  top: 10px;
}

.btn-participe-gain-success {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 125.9%;
  /* or 18px */
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #adadc8;
}

.btn-participe-gain-disabled {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #adadc8;
  border: none;
  height: 50px;
  width: 37%;
  cursor: pointer;
  letter-spacing: 0.03em;
}

.btn-participe-gain {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: white;
  border: none;
  height: 50px;
  width: 37%;
  cursor: pointer;
  letter-spacing: 0.03em;
}

.img-block .btn2 {
  position: absolute;
  top: 13%;
  transform: translate(-108%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  padding: 12px 24px;
  border: none;
  cursor: default;
  border-radius: 5px;
  text-align: center;
  background: #00cc9e;
  border-radius: 26px;
  width: 92.4px;
  height: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 25%;
}

a {
  text-decoration: none;
  padding-left: 2%;
}

*:focus {
  /*
  outline: none;
  */
}

.no-data-available {
  margin-left: 37%;
  margin-top: 4%;
  font-size: 165%;
}

.card-img {
  width: inherit;
}

.campaigns-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1em;
  justify-items: center;
  align-items: center;
  margin-top: 1em;
}

.campaign-details {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  // margin-bottom: 20px;
  cursor: pointer;
  border-radius: 30px;
  width: 100%;
  height: 460px;
  position: relative;
  overflow: hidden;
  /* margin-left: 2px; */
  background: #ffffff;
  // max-width: 327px;
}

.details-block {
  /* padding: 20px 10px 15px; */
  text-align: center;
  font-style: normal;
  border-radius: 30px;
  padding: 16px 4px;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.no-data-available {
  text-align: center;
  display: block;
  padding: 49px;
  color: #6c768c;
  font-weight: bold;
  font-size: 20px;
}

:host {
  width: 100%;
}

.campaign-details .img-block {
  height: 37%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

.gains_logo {
  margin-left: 0%;
  margin-right: 1%;
  margin-bottom: 1%;
}

.under_gains {
  color: #75758f;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 15px;
}

.gray-text-payedAmount {
  color: #75758f;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 15px;
}

.date {
  font-weight: 600 !important;
  display: flex;
  gap: 10px;
  align-items: flex-end;
  justify-content: center;
}

.icon_link {
  position: absolute;
  height: 7%;
  right: 10px;
  // top: 141px;
  top: 11px;
}

.stat-icons {
  color: #323754 !important;
  gap: 3em;
  font-weight: 400;
  font-size: 16px;
  align-items: stretch;
  height: 22px;
  /* gap: 2em; */
  margin-top: 15px !important;
}

.prom_title {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-overflow: ellipsis;
  letter-spacing: 0.02em;
  color: #323754;
  font-weight: bold;
  text-transform: capitalize;
}

.social-ratios-wrapper {
  display: flex;
  gap: 0.2em;
  align-items: inherit;
  font-weight: 400;
  color: #323754;
  font-size: 16px;
}

.prom_name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 125.9%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #1f2337;
  text-transform: capitalize;
}

@media (max-width: 767.98px) {
  .gray-dark-text {
    font-size: 14px !important;
  }
  .title-reject-prom {
    font-style: normal;
    font-weight: bold;
    font-size: 16px !important;
    line-height: 28px;
  }
  .fit-center {
    display: flex;
    justify-content: center;
  }
}

.cmp-img2 {
  /* transform: translateY(-14%);
      transform: translateZ(); */
  /* width: 125%;  */
  /* image-rendering:  pixelated !important;  */
  width: 100%;
  height: auto;
  /* object-fit: cover; */
  /* width: 50px;
      height: 100px; */
}

::ng-deep app-loading-logo {
  top: 130px !important;
}

.green-color {
  color: #00cc9e;
}

.black-color {
  color: black;
}

.title-page {
  color: #323754;
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
}

.input-search {
  background-image: url('/assets/Images/search5.svg');
  background-position: 13px;
  background-repeat: no-repeat;
  margin-left: 0.1%;
  width: 80%;
  padding-left: 40px;
  font-style: normal;
  font-size: 16px;
  height: 48px;
  margin-top: 1%;
  border: 1px solid #d6d6e8;
  border-radius: 30px;
  margin-right: 2%;
}

.btn-flt {
  cursor: pointer;
  /* margin-top: 1.7rem; */
  background-position: center;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 100%;
  color: #4048ff;
  background-color: white;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 15%);
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  min-width: 48px;
}

.btn-flt:focus {
  color: white;
  background-color: #4048ff;
  border: none;
}

.btn-blue:hover,
.btn-flt:not(.toggled):hover {
  border: 2px solid #0009d3;
  box-shadow: none;
}

.show-filter-form {
  display: block !important;
}

.filter-form {
  display: none;
}

.section-filtre {
  max-width: 420px;
}

.result-found {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 112%;
  color: #323754;
  margin: 0;
}

/********css modal reject link**********/

.moonBoy-im {
  width: 120px;
}

.btn-close {
  margin-right: 0.5em;
  margin-top: 0.5em;
}

.modal-body.modal-customm {
  max-width: 583px !important;
  padding: 2em 3em !important;
}

.modal-header {
  border-bottom: none !important;
}

.modal-header.modal-customm .btn-close {
  border: none !important;
  position: absolute;
  margin: 0px;
  top: 0px;
  right: 0px;
  padding: 30px;
  max-height: 30px;
  max-width: 30px;
  box-shadow: none;
}

.btn-reject {
  max-width: 180px;
  background: #f52079;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  border-radius: 30px;
  color: #f6f6ff;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 48px;
  cursor: pointer;
  margin-bottom: 3em;
}

.btn-reject:disabled {
  color: #adadc8;
  background: #f6f6ff;
  box-shadow: none;
  border: 1px solid #d6d6e8;
}

.btn-reject:hover {
  background: linear-gradient(246.18deg, #f52079 54.61%, #4048ff 161.43%);
}

.btn-reject:focus {
  background: linear-gradient(248.12deg, #f52079 -3.46%, #4048ff 143.84%);
  border: 1px solid rgba(64, 72, 255, 0.3);
}

.title-reject-prom {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #f52079;
}

.gray-dark-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #323754;
  text-align: center;
}

.form-check-input:checked {
  background-color: white !important;
  border-color: #4048ff !important;
  background-image: url('/assets/Images/input-checked-icon.svg') !important;
  background-size: 10px !important;
}

input[type='checkbox']:checked + label {
  color: #4048ff !important;
}

.text-align-start {
  text-align: start !important;
}

.form-check-label {
  width: max-content;
  cursor: pointer;
  padding: 0;
  padding-bottom: 0.5em;
}

.type-textarea {
  resize: none;
  width: 100%;
  height: 95px;
  padding: 6px 15px;
  line-height: 1.57142857;
  border: 1px solid #4048ff;
  font-size: 16px;
  background-color: #f6f6ff;
  border-radius: 30px;
  font-style: normal;
  font-weight: normal;
  color: #323754;
}

.loading-spinner {
  border-right-color: #4048ff !important;
  border: 0.25em solid white;
}

.details {
  max-width: 327px;
}

/****/

.prom_avatar {
  border-radius: 52%;
  position: absolute;
  z-index: 12;
  height: 10%;
  border: solid white 2px;
  // top: 151px;
  top: 142px;
  position: absolute;
}

.div-name {
  margin-top: 0.5rem;
}

.buttom_camp_accept {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  cursor: pointer;
  border: none;
  //box-shadow: 3px 4px 4px 2px rgb(0 0 0 / 15%);
  text-align: center;
  width: 50%;
  // height: 65px;
  height: 75px;
  bottom: 0;
  position: absolute;
  background: #41d0b0b2;
  color: white;
  right: 0;
}

.buttom_camp_accept:hover {
  background: #00cc9e;
}

.buttom_camp_reject:hover {
  background: #f6f6ff;
}

.buttom_camp_reject {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  cursor: pointer;
  border: none;
  //box-shadow: 3px 4px 4px 2px rgb(0 0 0 / 15%);
  text-align: center;
  color: white;
  width: 50%;
  // height: 65px;
  height: 75px;
  bottom: 0;
  position: absolute;
  background: #ededf4;
  position: absolute;
  left: 0;
}

.crypto-logo {
  width: 22px;
}

.icon-buttons-row,
.show-row-version-desktop,
.show-row-version {
  display: none;
}

.div-title-date {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.div-title {
  width: 250px;
}

.span-hours {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/*-------------------------------------CSS FORM LISTE--------------------------------------------------------------------------------------*/

:host-context(.display-row) {
  .date {
    display: block;
  }
  .div-title-date {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .stat-icons {
    align-items: baseline;
    margin-top: 0 !important;
  }
  .social-ratios-wrapper {
    gap: 0;
  }
  .flex-direction {
    flex-direction: column;
  }
  .text-valign-middle {
    color: #75758f !important;
  }
  .hard-grey-text {
    color: #75758f !important;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.02em;
  }
  .hard-grey-text-small {
    color: #adadc8 !important;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.02em;
  }
  .div-harvested {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
  .hide-text-row-version {
    display: none !important;
  }
  .campaign-details {
    border-radius: 0;
    height: auto;
    display: flex;
    box-shadow: none;
    align-items: center;
    gap: 0em;
  }
  .pending-style {
    background: #fffbf6 !important;
  }
  .img-block {
    // height: auto;
    overflow: initial;
    // height: max-content;
    width: 110px;
    padding: 14px 4px;
    height: 90px;
    display: flex;
    justify-content: flex-end;
  }
  .cmp-img2 {
    // width: 80px;
    // height: 56px;
    width: 90px;
    height: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .details-block {
    display: flex;
    // gap: 2em;
    // align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    gap: 1em;
    // padding: 7px 4px 23px 4px !important;
  }
  .div-name-date-gains {
    display: flex;
    // gap: 2em;
    gap: 4em;
    align-items: center;
    text-align: left;
  }
  .under_gains {
    margin: 0;
  }
  .div-name-date {
    display: flex;
    align-items: center;
  }
  .div-date {
    width: 105px;
  }
  .div-name {
    margin-top: 0;
    width: 150px;
    display: flex;
    align-items: center;
  }
  .div-title {
    width: 150px;
  }
  .div-position-absolute {
    // position: absolute;
    // right: 5px;
    // width: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: flex-end;
    padding-right: 2%;
  }
  .div-gains,
  .div-gains-value {
    display: flex;
    align-items: baseline;
  }
  .icon-ratio {
    display: none;
    height: 0;
  }
  .a_link {
    width: 100px;
  }
  .crypto-logo {
    width: 16px;
  }
  .btn_vignette {
    display: flex;
    gap: 0.5em;
  }
  .prom_name {
    font-size: 16px;
    color: #4048ff;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    text-transform: capitalize;
  }
  .prom_title {
    font-size: 14px;
  }
  .buttom_camp_accept {
    box-shadow: 0px 4px 4px 0px #00000040;
  }
  .icon-accept-btn,
  .icon-reject-btn {
    width: 14px;
  }
  .icon-buttons-row {
    width: 14px;
    display: initial;
  }
  .btn-disabled-rejected,
  .buttom_camp_reject {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 4px 4px 0px #00000040;
  }
  .buttom_camp_accept {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .hide-row-version {
    display: none !important;
    height: 0;
    width: 0;
  }
  .hide-row-desktop {
    display: none !important;
    height: 0;
    width: 0;
  }
  .hide-harvest {
    display: none !important;
    height: 0;
    width: 0;
  }
  .show-row-version {
    display: initial !important;
  }
  .gray-text-payedAmount {
    color: #323754;
    font-size: 20px;
    //  font-size: 1.5vw;
    font-weight: 600;
    margin-top: 0;
  }
  .icon_oracle {
    left: 0;
    top: 30px;
    z-index: 1;
    height: 30px;
  }
  @media (min-width: 992px) {
    .cmp-stat {
      font-size: 20px;
      // font-size: 1.5vw;
    }
    .show-row-version-desktop {
      display: initial;
    }
    .btn-disabled {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: white;
      box-shadow: 0px 4px 4px 0px #00000040;
    }
    .buttom_camp3 {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .buttom_camp {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .div-name-date-gains {
      padding-right: 15px;
      padding-left: 15px;
      // gap: 3em;
      gap: 0.5em;
    }
    .div-name,
    .div-title {
      width: 10vw;
    }
    .div-date {
      width: 11vw;
    }
    .stat-icons {
      max-width: 800px;
      gap: 0;
    }
    .social-ratios-wrapper {
      padding-right: 15px;
      padding-left: 15px;
      width: 7vw;
    }
    .div-position-absolute {
      // padding-right: 15px;
      // padding-left: 15px;
      // gap: 4vw;
      gap: 0;
      justify-content: center;
    }
    .div-gains {
      // gap: 3em;
      // width: 12vw;
      gap: 0em;
      width: 7vw;
      padding-top: 0 !important;
    }
    .div-gains-value {
      padding-right: 15px;
      padding-left: 15px;
      min-width: 100px;
    }
    .div-harvested {
      padding-right: 15px;
      padding-left: 15px;
      // min-width: 100px;
    }
    .div-gains-one-value {
      width: 100%;
      display: flex;
      // align-items: flex-end;
      align-items: center;
    }
    .div-havested-buttons {
      display: flex;
      justify-content: flex-end;
      width: 14vw;
      align-items: center;
    }
  }
  @media (min-width: 1900px) {
    .div-name,
    .div-title {
      max-width: 200px;
    }
    .div-date {
      max-width: 175px;
    }
    .social-ratios-wrapper {
      width: 7vw;
      max-width: 126px;
    }
    .div-gains {
      max-width: 150px;
    }
    .div-havested-buttons {
      max-width: 280px;
    }
  }
  @media (max-width: 991.98px) {
    .div-pending-text {
      margin-top: 15px;
    }
    .social-ratios-wrapper {
      gap: 5px;
      align-items: center;
    }
    .span-hours {
      justify-content: flex-start;
    }
    .btn-disabled-rejected {
      position: absolute;
      bottom: 7px;
      background: #f6f6ff;
      height: auto;
      min-height: 43px;
      border-radius: 30px;
      width: 97% !important;
      display: flex;
      align-items: center;
      right: 8px;
      flex-direction: column;
    }
    .div-position-absolute {
      width: auto;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
    }
    .campaign-details {
      gap: 1em;
      align-items: flex-start;
      justify-content: space-between;
    }
    .details-block {
      gap: 1em;
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 4px 23px 4px;
    }
    .div-name-date-gains {
      gap: 1em;
      flex-direction: column;
      align-items: flex-start;
    }
    .div-gains {
      flex-direction: column;
      align-items: flex-start;
    }
    .div-title-date,
    .div-name-date {
      flex-direction: column;
      display: flex;
      align-items: flex-start;
      gap: 0.5em;
    }
    .stat-icons {
      gap: 1em;
    }
    .icon-ratio {
      display: initial;
      height: auto;
    }
    .hide-row-desktop {
      display: initial !important;
      height: auto;
      width: auto;
    }
    .hide-harvest {
      display: flex !important;
      height: auto;
      width: auto;
    }
    .btn-disabled,
    .buttom_camp,
    .buttom_camp3 {
      border-radius: 30px;
      height: 43px;
      bottom: 7px;
    }
    .btn-disabled {
      width: 100%;
    }
    .under_gains {
      text-align: left;
    }
    .chevron:before {
      font-family: 'FontAwesome';
      font-style: normal;
      font-size: 1.2rem;
      content: '\f107';
      display: inline-block;
      line-height: 22px;
      color: #75758f;
    }
    .show-chevron {
      display: initial;
      position: absolute;
      right: 0;
      top: 0px;
      margin: 0.5em;
    }
    .hourglass-mobile {
      display: initial;
      position: absolute;
      right: 28px;
      top: 11px;
    }
    .hide-details {
      display: none !important;
    }
    .align-mobile {
      align-items: flex-start;
    }
    .margin-bottom-mobile {
      margin-bottom: 40px;
    }
    .width-100-btn {
      width: 100% !important;
    }
    .div-name,
    .div-title {
      width: 40vw;
    }
  }
  @media (max-width: 567.98px) {
    .div-position-absolute {
      width: auto;
      display: flex;
      align-items: center !important;
      gap: 1em;
      justify-content: flex-start;
      flex-direction: column;
    }
    .icon_oracle {
      left: -1px;
      top: 32px;
      height: 25px;
    }
    // .div-title .div-name {
    //     max-width: 112px;
    // }
    .prom_title .stat-icons,
    .prom_name {
      font-size: 14px;
    }
    .under_gains {
      font-size: 12px;
    }
    .img-block {
      width: 82px;
      justify-content: flex-start;
    }
    .icon-ratio {
      width: 15px !important;
    }
    .btn-participe-gain-disabled {
      font-size: 15px;
    }
    .date {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 0.3em;
    }
  }
}

.hourglass-mobile,
.show-chevron {
  display: none;
}

.postion-div-gains {
  position: absolute !important;
  bottom: 27px;
  flex-direction: column;
  width: 100% !important;
}

.postion-div-harvested {
  position: absolute !important;
  bottom: 3px;
  flex-direction: column;
  width: 100% !important;
}

.hide-button {
  display: none !important;
}

.bottom-bloc {
  bottom: 81px !important;
}
