@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6ha5yx');
  src:  url('fonts/icomoon.eot?6ha5yx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6ha5yx') format('truetype'),
    url('fonts/icomoon.woff?6ha5yx') format('woff'),
    url('fonts/icomoon.svg?6ha5yx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-figma-1:before {
  content: "\e903";
}
.icon-arrow-1:before {
  content: "\e913";
}
.icon-Wlt:before {
  content: "\e91e";
}
.icon-inter:before {
  content: "\e91f";
}
.icon-binance-lg:before {
  content: "\e920";
}
.icon-ethereum-lg:before {
  content: "\e921";
}
.icon-new-filter:before {
  content: "\e922";
}
.icon-prfl:before {
  content: "\e919";
}
.icon-legal:before {
  content: "\e91a";
}
.icon-lock-new:before {
  content: "\e91b";
}
.icon-power-1:before {
  content: "\e91c";
}
.icon-link:before {
  content: "\e904";
}
.icon-trans:before {
  content: "\e905";
}
.icon-ins:before {
  content: "\e906";
}
.icon-phone-ico:before {
  content: "\e907";
}
.icon-notif1-f:before {
  content: "\e91d";
}
.icon-arrow2:before {
  content: "\e909";
}
.icon-arrow1:before {
  content: "\e908";
}
.icon-sattt-f:before {
  content: "\e923";
}
.icon-notif .path1:before {
  content: "\e90a";
  color: rgb(0, 0, 0);
}
.icon-notif .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(245, 32, 121);
}
.icon-notif .path3:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-menuico:before {
  content: "\e90c";
}
.icon-Messengerico:before {
  content: "\e90d";
}
.icon-Bitcoinico:before {
  content: "\e90e";
}
.icon-Twitterico:before {
  content: "\e90f";
}
.icon-telegramico:before {
  content: "\e910";
}
.icon-Facebookico:before {
  content: "\e911";
}
.icon-ic7:before {
  content: "\e912";
}
.icon-final-svg:before {
  content: "\e902";
}
.icon-Group-8810 .path1:before {
  content: "\e925";
  color: rgb(117, 117, 143);
}
.icon-Group-8810 .path2:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(246, 246, 255);
}
.icon-ico2:before {
  content: "\e901";
}
.icon-ic5:before {
  content: "\e914";
}
.icon-ic4:before {
  content: "\e915";
}
.icon-ic3:before {
  content: "\e916";
}
.icon-ic2:before {
  content: "\e917";
}
.icon-ic1:before {
  content: "\e918";
}
.icon-scurit:before {
  content: "\e900";
}

/* .toast-container {
    background-image:#eaecf7 !important;
    border-radius: 22px !important; 
    box-shadow: -5px 8px 16px 0px rgba(0,0,0,0.3) !important;
    margin-bottom: 2px !important;
  } */
  
  
  .toast-success{
    background-color:  #323754!important;
    background-image: url() !important;
    border-radius: 20px !important;
    opacity: 0.8 !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
}

  .toast-top-right {
    position: relative;
    top: 90px !important;
    right: 12px;
}

  .toast-message{
    color:#fdfdfd !important;
  }
  .toast-title{
    font-weight: normal !important;
    padding-top: 6px !important;
    margin-bottom: -13px !important;
    padding-left: 10px !important;
  }

   .toast-message .icon {
    background-image: url() !important;
  }
  .icon {
    margin-left: -36px !important;
    margin-top: -47px !important
}