:host {
  display: block;
  position: relative;
  padding: 0;
}

.brand-logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
*:focus {
  outline: none;
}

.btn-apply {
  justify-content: center;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  align-items: center;
  letter-spacing: 0.03em;
  height: 48px;
  /* width: 169px; */
  width: 300px;
  border-radius: 30px;
  background-color: #f52079;
  color: white;
  box-shadow: 0px 4px 20px 0px #00000033;
}
.btn-edit-ad-pool {
  justify-content: center;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  align-items: center;
  letter-spacing: 0.03em;
  height: 48px;
  /* width: 169px; */
  width: 300px;
  border-radius: 30px;
  background-color: #4048ff;
  color: white;
  box-shadow: 0px 4px 20px 0px #00000033;
}

.img-container {
  /* box-shadow: 0px 4px 20px rgb(0 0 0 / 20%);
  margin-top: 1em;
  border-radius: 20px 20px 0 0;
  max-width: 1570px;
  max-height: 576px;
  position: relative; */
  overflow: hidden;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
  width: 100vw;
  // max-height: 576px;
}

.campaign-img {
  width: 100%;
  // object-fit: cover;
  height: fit-content;
}

.date-wrapper {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  /* or 21px */
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  /* 02.GREYS/hard grey */
  color: #75758f;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.wrapper {
  background-color: white;
  /* position: absolute;
  left: 50%;
  top: -80px; */
  border-radius: 50%;
  max-height: 150px;
  max-width: 150px;
  /* overflow: hidden;
  transform: translateX(-50%); */
  /* for Safari browser */
  /* -webkit-mask-image: -webkit-radial-gradient(white, black); */
  border: 4px solid transparent;
  height: 30vw;
  width: 30vw;
}

.logo-wrapper {
  background-color: white;
  /* position: absolute;
  left: 50%;
  top: -80px; */
  border-radius: 50%;
  max-height: 150px;
  max-width: 150px;
  overflow: hidden;
  /* transform: translateX(-50%); */
  /* for Safari browser */
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  border: 4px solid transparent;
  height: 30vw;
  width: 30vw;
}

.campaign-detail-header {
  position: relative;
  height: max-content;
}

.campaign-detail-nav {
  width: 100%;
}

/*
.img-container {
    max-height: 300px;
    overflow: hidden;
    position: relative;
} */

.scroll-outer {
  height: 100%;
}

.hr-separator {
  border: 2px solid #d2d1d1;
  margin: 1em 6em;
}

.campaign-details-section {
  background: #1f2337;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  /*top: 40px;*/
  z-index: 2;
}

.campaign-brand-logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 50%;
  width: 100px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  object-fit: cover;
}

.campaign-brand-logo {
  padding: 0.5em;
  max-width: 100%;
  object-fit: cover;
}

.campaign-info {
  display: flex;
  align-items: baseline;
  text-align: center;
  gap: 20px;
  width: 100%;
  justify-content: space-around;
  margin-top: 0.5em;
}

.text-nowrap {
  white-space: nowrap;
  margin: 0em;
  display: block;
}

.nav-item {
  list-style: none;
  display: flex;
}

.nav-item a {
  text-decoration: none;
  color: white;
  padding: 0.5em 1em;
  border-radius: 30px;
  width: fit-content;
  height: fit-content;
}

.nav-item a:hover,
.nav-item a.active {
  background-color: #323754;
}

.nav-menu {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

.campaing-detail-content {
  background: #ffffff;
  /*margin: 2em 0.5em;
  *//*padding: 1em 0em;
  *//*margin-top: 509px;
  */margin-top: 28%;
  width: 100%;
  /*margin-left: -15px;
  /*box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  */z-index: 1;
  position: relative;
}

.nav-item-text {
  display: none;
}

.nav-item-icon {
  color: white;
  display: block;
}

.campaign-title {
  display: flex;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 1px;
  color: #1f2337;
  max-width: 70%;
  line-height: 1.3;
  margin-top: 0.5em;
  text-transform: capitalize;
}

.campaign-brand {
  /* padding: 1em; */
  /* border: none; */
  /* margin-left: 135px;
    margin-top: -46px; */
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  /* or 127% */
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  /* 02.GREYS/hard grey */
  color: #75758f;
  transform: matrix(1, 0, 0, 1, 0, 0);
  margin-top: 0.5em;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .div-footer-bar {
    display: flex !important;
  }
}
@media (min-width: 768px) {
  .desktopClass {
    display: block;
  }
  .mobileClass {
    display: none;
  }
  ::ng-deep .spinner-crypto2 .overlay {
    top: 60% !important;
    left: 44% !important;
    background: transparent !important;
    width: 100px !important;
    height: 100px !important;
    position: absolute !important;
  }
  ::ng-deep .spinner-crypto2 .loading-text {
    left: 50% !important;
    position: absolute !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
  }
  ::ng-deep .container-main {
    column-gap: 0px !important;
  }
  .campaign-detail-container {
    margin: 0em 1em;
    border-radius: 30px;
    margin-bottom: 1em;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  }
  .nav-item-text {
    display: block;
  }
  .nav-item-icon {
    display: none;
  }
  /* .img-container {
        max-height: 400px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    } */
  // .campaing-detail-content {
  //   padding: 0.5em 0em;
  // }
  .campaign-details-section {
    padding: 0em;
    flex-direction: column;
  }
  .campaign-info {
    width: auto;
    margin: 0em 2em;
    gap: 2em;
  }
  .btn-top-apply-wrapper {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .campaign-detail-nav {
    width: 100%;
  }
  .logo-wrapper {
    left: 108px !important;
    object-fit: cover;
  }
}

/* .campaign-brand {
    padding: 1em;
    border: none;
    margin-left: 135px;
    margin-top: -46px;
    display: flex;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #75758f;
    max-width: 60%;
} */

::ng-deep .container-main {
  column-gap: 0px !important;
}

.campaign-detail-container {
  margin: 0em 1em;
  border-radius: 30px;
  margin-bottom: 1em;
  background-color: white;
  overflow: hidden;
  /* box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2); */
}

.nav-item-text {
  display: block;
}

.nav-item-icon {
  display: none;
}

/*
.img-container {
    max-height: 400px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
} */

// .campaing-detail-content {
//   padding: 0.5em 0em;
// }

.campaign-details-section {
  padding: 0em;
  flex-direction: column;
}

.campaign-info {
  width: auto;
  margin: 0em 2em;
  gap: 2em;
}

.btn-top-apply-wrapper {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.campaign-detail-nav {
  width: 100%;
}

.logo-wrapper:hover {
  border: 4px solid #4048ff;
}

.logo-wrapper:hover > img {
  filter: grayscale(33%) sepia(8%) contrast(86%) invert(9%);
  -webkit-filter: grayscale(33%) sepia(8%) contrast(86%) invert(9%);
  -moz-filter: grayscale(33%) sepia(8%) contrast(86%) invert(9%);
}

.logo-wrapper:hover > .btn-edit2 {
  display: block;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-edit2 {
  display: none;
}

.btn-edit {
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 5px;
}

.update-image-label {
  cursor: pointer;
  padding: 0.5em;
  margin: 1em auto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: #1f2337;
}

.update-image-label:hover {
  border: 1px solid #1f2337;
  border-radius: 30px;
}

::ng-deep iframe {
  opacity: 0.001;
  z-index: -1 !important;
}

::ng-deep #fc_frame,
#fc_frame.fc-widget-normal {
  z-index: -1 !important;
  opacity: 0 !important;
}

/*------css spinner-----*/

/* ::ng-deep .loading-text {
  left: 44% !important;
  position: absolute !important;
  top: 46% !important;
  transform: translate(-50%, -50%) !important;
} */

::ng-deep .spinner-crypto2.loading-text {
  left: 51% !important;
  position: absolute !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  -webkit-transform: translate(-50%, -50%) !important;
  -moz-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  -o-transform: translate(-50%, -50%) !important;
}

::ng-deep .loaderOne {
  font-size: 51px !important;
  color: black !important;
  top: 3px !important;
  vertical-align: middle;
  color: #182257;
  z-index: 1;
  position: relative;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  left: -6%;
  border-radius: 50%;
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

::ng-deep.overlay {
  border-radius: 4px !important;
  /* margin-top: -12% !important; */
  /* min-height: 600px !important; */
}

.height {
  height: 150px !important;
}

::ng-deep .spinner-crypto2 .loading-text {
  left: 54% !important;
  position: absolute !important;
  top: 48% !important;
  transform: translate(-50%, -50%) !important;
}

::ng-deep .spinner-crypto2 .overlay {
  top: 60% !important;
  left: 35% !important;
  background: transparent !important;
  width: 100px !important;
  height: 100px !important;
  position: absolute !important;
}

@media (max-width: 767.98px) {
  .desktopClass {
    display: none;
  }
  .mobileClass {
    display: block;
  }
  .div-footer-bar {
    display: flex !important;
  }
  .spinner-crypto .overlay {
    top: 60% !important;
    left: 37% !important;
    background: transparent !important;
    width: 100px !important;
    height: 100px !important;
    position: absolute !important;
  }
  .pt-3-mobile {
    padding-top: 1rem !important;
  }
  .campaign-title {
    /* flex-grow: 1; */
    /* width: 100% !important; */
    /* text-align: center; */
    /* padding: 0.2em; */
    font-size: 32px !important;
    /* max-width: 100% !important; */
    text-align: center !important;
    /* margin: 70px auto 0px; */
  }
  .campaign-brand {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    /* 02.GREYS/hard grey */
    color: #75758f;
    transform: matrix(1, 0, 0, 1, 0, 0);
    text-align: center !important;
    justify-content: center !important;
    /* margin: 0 auto; */
  }
  .campaing-detail-content {
    margin-left: 0 !important;
  }
  .title {
    margin-top: 10px !important;
    text-align: center !important;
  }
  /* .title {
  max-width: 574px !important;
} */
  .logo-wrapper {
    background-color: white;
    /* position: absolute;
        left: 287%;
        top: -80px; */
    border-radius: 50%;
    max-height: 100px;
    max-width: 100px;
    overflow: hidden;
    /* transform: translateX(-50%); */
    /* for Safari browser */
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    border: 4px solid transparent;
    /* height: 30vw;
        width: 30vw; */
  }
}

@media (min-width: 768px) {
  .div-footer-bar {
    display: none;
  }
  ::ng-deep .spinner-crypto2 .overlay {
    top: 60% !important;
    left: 44% !important;
    background: transparent !important;
    width: 100px !important;
    height: 100px !important;
    position: absolute !important;
  }
  ::ng-deep .spinner-crypto2 .loading-text {
    left: 50% !important;
    position: absolute !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
  }
}

.btn-blue {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 48.4px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  color: #ffff;
  background: #4048ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  width: 100%;
  height: 48px;
}

.btn-blue:hover:enabled {
  background: linear-gradient(85.14deg, #f52079 -1.05%, #4048ff 103.39%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-blue:disabled {
  background: #d6d6e8;
  color: #adadc8;
}

.div_btn {
  max-width: 100%;
  margin: 1em 1em 1em 1em;
}

.div_msg_error {
  max-width: 100%;
  margin: 1em 2em 1em 2em;
}

.danger_pic {
  vertical-align: middle;
  background: rgba(245, 32, 121, 0.2);
  border-radius: 30px;
  color: #f52079;
  border: none;
  height: 40px;
  font-weight: 600;
  font-size: 12px;
}

.spinner-border {
  color: #4048ff;
}

/************/

.div-top-bar {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 62px;
  z-index: 2;
  height: 80px;
  box-shadow: 0px 4px 4px 0px #00000040;
  background: #f6f6ff;
  display: none;
  padding-left: 5.5em;
  padding-right: 3em;
}

.btn-white {
  background: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: min(max(16px, 1vw), 22px);
  /* line-height: 17px; */
  /* align-items: center; */
  /* text-align: center; */
  /* letter-spacing: 0.03em; */
  border-radius: 30px;
  color: #4048ff;
  border: none;
  box-shadow: 0px 2px 6px rgb(50 55 84 / 40%);
  height: 48px;
  /* max-width: 232px; */
  /* min-width: 145px; */
  /* width: 13vw; */
  cursor: pointer;
  width: fit-content;
  padding: 0px 25px;
}

.btn-scroll-top,
.btn-white:hover:enabled {
  background: #f6f6ff;
}

.btn-white:focus {
  background: #f6f6ff;
  box-shadow: inset 0px 3px 4px rgba(50, 55, 84, 0.4) !important;
}

.btn-scroll-top {
  background: #ffffff;
  height: 44px;
  width: 44px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 0px 2px 6px 0px #00000040;
  border-radius: 50px;
}

.font-size-title {
  font-size: 2.1vw;
  line-height: 18px;
  min-width: 80px;
  color: #1f2337;
}

.dark-gray {
  color: #323754;
}

.font-weight-600 {
  font-weight: 600;
}

.top-bar-btn-apply {
  justify-content: center;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: min(max(16px, 1vw), 22px);
  line-height: 19px;
  text-align: center;
  align-items: center;
  letter-spacing: 0.03em;
  height: 48px;
  /* width: 169px; */
  min-width: 169px;
  border-radius: 30px;
  width: 182px;
}

.top-bar-logo {
  border-radius: 50px;
  border: 1px solid #a0a0c1;
  max-width: 72px;
  min-width: 72px;
  /* width: 6vw; */
}

.btn-apply:hover {
  background: linear-gradient(246.18deg, #f52079 54.61%, #4048ff 161.43%);
}

.btn-apply:focus {
  background: linear-gradient(248.12deg, #f52079 -3.46%, #4048ff 143.84%);
  border: 3px solid #4048ff;
}

a {
  text-decoration: none;
}

.a-router {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #4048ff;
}

/*****css footerbar*******/

.div-footer-bar {
  width: 100%;
  height: 62px;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  background: white;
  // flex-direction: row;
  position: fixed;
  bottom: 0;
  height: 65px;
  width: 100%;
  box-shadow: 0px -4px 15px 0px #00000040;
  z-index: 9999;
}

.span-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
}

.div-center {
  margin-bottom: 17px;
  background: white;
  border-radius: 63px;
  position: relative;
}

.font-size-32 {
  font-size: 32px;
}

.div-adPool,
.div-wallet,
.div-home,
.div-back-top {
  display: flex;
  height: 52px;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  max-width: 50%;
}

.div-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.div-pic-center {
  align-items: center;
  display: flex;
  justify-content: center;
  background: #f6f6ff;
  border-radius: 30px;
  width: 45px;
  height: 45px;
  margin-top: 6px;
  z-index: 1;
  span {
    // color: white;
    font-size: 32px;
  }
}

.pink-text {
  color: #f52079;
}

.blue-text {
  color: #4048ff;
}

.gray-text {
  color: #75758f;
}

.disabled-text {
  color: #d6d6e8;
}

.btn-pending {
  justify-content: center;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  align-items: center;
  letter-spacing: 0.03em;
  height: 48px;
  /* width: 169px; */
  width: 300px;
  border-radius: 30px;
  background-color: #f6f6ff;
  color: #75758f;
  /* box-shadow: 0px 4px 20px 0px #00000033; */
}

.back-top-pic-disabled,
.back-top-text-disabled {
  display: none;
}
#back-top-pic-disabled {
  margin-top: 0.5em;
}

@media (min-width: 768px) {
  .img-container {
    margin: 0em 0 0em 0;
  }
  // :host {
  //   padding: 0 1em;
  // }
  .showMobile {
    display: none !important;
  }
}

.div-footer {
  // // position: absolute;
  // position: fixed;
  // max-width: 500px;
  // bottom: -96px;
  // right: 0;
  // /* overflow: hidden; */
  // width: 80vw;
  // margin-right: -49px;
  // margin-left: auto;

  max-width: 500px;
  width: 80vw;
  z-index: 99;
  margin-left: auto;
  // margin-top: 1vh !important;
}

@media (max-width: 1400px) {
  :host {
    overflow-y: auto !important;
  }
  .div-footer {
    position: relative !important;
  }
}
