<app-header-social-registartion> </app-header-social-registartion>

<div class="container-fluid">
  <div class="row">
    <div class="col-xl-5 col-lg-5 col-md-5">
      <app-left-component></app-left-component>
    </div>
    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 padding-top margin-bottom">
      <div class="row d-flex justify-content-center">
        <div
          class="col-xl-8 col-lg-10 col-md-11 col-sm-8 d-flex justify-content-start"
        >
          <app-monetize-steps></app-monetize-steps>
        </div>
      </div>
      <div class="row">
        <div class="d-flex justify-content-center">
          <div
            class="col-xl-8 col-lg-10 col-md-11 col-sm-12 mt-5 mt make-center"
          >
            <span class="title_page">{{ 'pwd_create' | translate }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="d-flex justify-content-center mt-4">
          <div
            class="d-flex col-xl-8 col-lg-10 col-md-10 col-sm-8 gray_text make-center"
          >
            <span class="">{{ 'pass_text' | translate }}</span>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
          <span
            class="d-flex col-xl-8 col-lg-10 col-md-10 col-sm-8 gray_text2"
            >{{ 'You will not be able to reset it!' | translate }}</span
          >
        </div>
      </div>

      <div class="row">
        <div class="d-flex justify-content-center mt-4">
          <div class="col-xl-8 col-lg-10 col-md-11 col-sm-8 padding-x">
            <form
              [formGroup]="form"
              class="set-password-from"
              (ngSubmit)="onSubmit()"
            >
              <div class="row">
                <div class="col-xl-8 col-lg-10 col-md-11 col-sm-8 mt-2">
                  <span class="gray-text-span">{{
                    'Choisissez votre mot de passe de transaction' | translate
                  }}</span>
                </div>
              </div>
              <div class="row d-flex justify-content-start px-2">
                <div
                  class="div_input position-relative col-xl-8 col-lg-8 col-md-7 col-sm-12"
                >
                  <img
                    class="ps-1 position-absolute align-self-center"
                    src="/assets/Images/Kep-password.svg"
                  />
                  <input
                    appBlockCopyPaste
                    type="password"
                    autocomplete="on"
                    name="password"
                    id="password"
                    formControlName="password"
                    class="input_oeil"
                    #passwordInput
                  />
                  <span
                    (click)="
                      passwordInput.type =
                        passwordInput.type === 'password' ? 'text' : 'password'
                    "
                    class="fa fa-fw cross_input_network align-self-center"
                    aria-hidden="true"
                    [ngClass]="
                      passwordInput.type === 'password'
                        ? ' fa-eye-slash '
                        : ' fa-eye'
                    "
                  ></span>
                </div>
                <div class="error-message">
                  <p
                    *ngIf="
                      this.f.password.errors?.pattern && this.f.password.dirty
                    "
                  >
                    {{ 'password_pattern_error_msg' | translate }}
                  </p>
                </div>
              </div>
              <div class="row d-flex justify-content-start">
                <div class="col-xl-8 col-lg-10 col-md-11 col-sm-8 mt-2">
                  <span class="gray-text-span">{{
                    'Profil.campaign_password.confirm' | translate
                  }}</span>
                </div>
              </div>

              <div class="row mb-3 mt-2 px-2">
                <div
                  class="div_input position-relative col-xl-8 col-lg-8 col-md-7 col-sm-12"
                >
                  <img
                    class="ps-1 position-absolute align-self-center"
                    src="/assets/Images/Kep-password.svg"
                  />
                  <input
                    #confirmPasswordInput
                    appBlockCopyPaste
                    type="password"
                    autocomplete="on"
                    name="confirmPassword"
                    id="confirmPassword"
                    formControlName="confirmPassword"
                    class="input_oeil"
                  />
                  <span
                    (click)="
                      confirmPasswordInput.type =
                        confirmPasswordInput.type === 'password'
                          ? 'text'
                          : 'password'
                    "
                    class="fa fa-fw cross_input_network align-self-center"
                    aria-hidden="true"
                    [ngClass]="
                      confirmPasswordInput.type === 'password'
                        ? ' fa-eye-slash '
                        : ' fa-eye'
                    "
                  ></span>
                </div>

                <div class="error-message" *ngIf="this.form.errors?.mustMatch">
                  <p *ngIf="this.form.errors?.mustMatch && this.form.dirty">
                    {{ 'Profil.password_must_match_error' | translate }}
                  </p>
                </div>
                <div
                  class="error-message d-flex mt-1"
                  *ngIf="this.erreuur === true"
                >
                  <i class="fa fa-info-circle pe-2"></i>
                  <p>{{ 'same_pass' | translate }}</p>
                </div>
              </div>

              <div
                class="row d-flex justify-content-center"
                *ngIf="f.password.value !== null"
              >
                <div
                  class="password-meter"
                  [ngClass]="{ hidden: this.passwordStrengthMsg === '' }"
                >
                  <p #passwordStrengthText class="password-meter-text d-flex">
                    <i class="fa fa-info-circle pt-2 pe-2"></i>
                    <span class="pt-1">{{
                      passwordStrengthMsg | translate
                    }}</span>
                  </p>
                </div>
              </div>
              <div class="row">
                <div
                  class="col-xl-8 col-lg-8 col-md-9 col-sm-8 top-10 display-flex mt-5"
                >
                  <button
                    type="submit"
                    class="btn-green"
                    [disabled]="!this.form.valid"
                  >
                    <span *ngIf="!this.showSpinner">{{
                      'sign_up_continue' | translate
                    }}</span>
                    <div
                      *ngIf="this.showSpinner"
                      class="spinner-border text-light"
                      role="status"
                    >
                      <span class="sr-only">Loading...</span>
                    </div>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer-social-registartion></app-footer-social-registartion>
