<div class="row justify-content-center flex-row p-2">
  <div class="d-flex justify-content-end col-6 p-0 pe-2">
    <div class="dropdown" id="dropdown-ul">
      <button
        [disabled]="selectedNetworkValue === 'BTC'"
        class="btn btntoggle dropdown-toggle btn-dropdown"
        data-flip="false"
        type="button"
        id="dropdownButton2"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="chevron fa fa-fw" *ngIf="selectedNetworkValue !== 'BTC'"></i>
        <span class="dropdown-text ps-2"
          >{{ cryptoSymbol | translate }}
          <img
            class="crypto-image"
            src="assets/Images/symbol_crypto/{{ cryptoPicName }}.svg"
            *ngIf="!this.token"
          />
          <img
            class="crypto-image"
            src="assets/Images/symbol_crypto/{{ cryptoPicName }}.svg"
            *ngIf="this.addedTokenNopic"
          />
          <img
            class="crypto-image"
            src="{{ cryptoPicName }}"
            *ngIf="this.token && !this.addedTokenNopic"
          />
        </span>
      </button>
      <ul
        class="dropdown-menu"
        aria-labelledby="dropdownButton2"
        id="dropdownButtonUl"
      >
        <ng-container *ngFor="let crypto of dataList; trackBy: trackById">
          <li
            class="li-select"
            *ngIf="
              crypto.type === selectedNetworkValue &&
              crypto.symbol !== cryptoSymbol
            "
            (click)="
              selectCryptoValue(
                crypto.name,
                crypto.undername2,
                crypto.symbol,
                crypto.AddedToken,
                crypto
              )
            "
          >
            <span class="li-select-text">{{ crypto.symbol | translate }}</span>
            >
            <img
              *ngIf="!crypto.picUrl"
              src="assets/Images/symbol_crypto/{{ crypto.undername2 }}.svg"
              class="width_icon_crypto"
            />
            <img
              class="width_icon_crypto"
              *ngIf="crypto.picUrl"
              [src]="crypto.picUrl"
              alt=""
            />
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
  <div class="d-flex col-6 p-0">
    <div class="dropdown">
      <button
        class="btn btntoggle dropdown-toggle btn-dropdown"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="chevron2 fa fa-fw"></i>
        <span class="dropdown-text ps-2"
          >{{ selectedNetworkValue }}
          <img
            class="width_icon_selectednetwork"
            src="assets/Images/networks-icon/network-black-{{
              selectedNetworkValue
            }}.svg"
          />
        </span>
      </button>
      <ul
        class="dropdown-menu"
        aria-labelledby="dropdownMenuButton"
        id="dropdownButtonUl2"
      >
        <ng-container *ngFor="let n of networkList; trackBy: trackById2">
          <li
            class="li-select"
            *ngIf="n.network !== selectedNetworkValue"
            (click)="selectNetworkValue(n.network)"
          >
            <span class="li-select-text"
              >{{ n.network }}
              <img
                src="assets/Images/networks-icon/network-black-{{
                  n.network
                }}.svg"
                class="width_icon_network"
              />
              <!-- <span  *ngIf="n.network==='ERC20'" class="icon-ethereum-lg mt-1 blokchIcon displayed"></span>
                        <span *ngIf="n.network==='BEP20'" class="icon-binance-lg blokchIcon2 displayed"></span>
                        <span *ngIf="n.network==='BTC'" class="icon-figma-1 mt-2 ms-3 displayed"></span> -->
            </span>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
