*,
*:focus {
  outline: none;
}

/****/

.margin-bottom {
  margin-bottom: 70px;
}

:host {
  background-color: #ffffff;
  min-height: 100vh;
  max-width: 100vw;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden !important;
  position: relative;
}

.padding-top {
  padding-top: 70px;
}

@media (max-width: 575.98px) {
  .padding-x {
    padding-right: 1.2rem !important;
    padding-left: 1.2rem !important;
  }
}

.title_page {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 0.03em;
  color: #1f2337;
}

.btn-green {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  background: #00cc9e;
  border-radius: 50px;
  color: #f6f6ff;
  border: none;
  width: 300px;
  height: 52px;
}

.btn-atayen-primary {
  background-color: #4048ff;
}

.btn-green:hover:enabled {
  background: #009775;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.btn-atayen-primary:hover:enabled {
  background-color: #2530fd;
}

.btn-green:focus {
  background: #00cc9e;
  border: 6px solid rgba(52, 234, 185, 0.3);
  border-radius: 30px;
}

.btn-green:disabled {
  color: #adadc8;
  background: #f6f6ff;
  border: 0px;
}

/********/

.error-message {
  color: #f52079;
  padding: 0.1rem;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  /* margin-top: 0.2rem; */
  text-align: left;
  font-weight: 700;
}

.error-message p {
  margin-left: 15px;
}

.error {
  background: #ffe9f2 !important;
  border: 1px solid #f52079 !important;
}

a {
  padding: 0px;
  text-decoration: none;
}

@media (max-width: 767.98px) {
  .title_page {
    font-size: 32px !important;
    line-height: 30px !important;
  }
  .top-10 {
    margin-top: 0 !important;
  }
  .margin-bottom {
    margin-bottom: 0 !important;
  }
  :host {
    /* background: linear-gradient(14deg, #F52079 2%, #001C59 71%); */
    background: linear-gradient(14deg, #f52079 2%, #001c59 71%);
    min-height: 100vh;
    max-width: 100vw;
    min-width: 300px;
    display: flex;
    height: fit-content;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }
  .drak-gray_text,
  .title_page {
    color: white !important;
  }
  .make-center {
    text-align: center !important;
  }
  .display-flex {
    justify-content: center;
    display: flex;
    align-items: center;
  }
}

/*---CSS green checkbox----*/

input[type='checkbox'][type='checkbox']:checked + label::before {
  content: '\002714';
  color: #ffffff;
  background-color: #00cc9e;
  border: 3px solid #00cc9e;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type='checkbox'] {
  cursor: pointer;
  opacity: 0;
}

input[type='checkbox'] + label {
  cursor: pointer;
  display: flex;
  margin: 0px;
  align-items: center;
}

input[type='checkbox'] + label::before {
  content: '';
  max-height: 1em;
  min-width: 1em;
  min-height: 1em;
  max-width: 1em;
  border-radius: 0.15em;
  /* margin-right: 0.5em; */
  border: 1px solid #d6d6e8;
  /* padding: 0px; */
  /* margin: 10px 15px 4px 0px; */
  display: grid;
  margin: 0 1em 0 0;
}

.drak-gray_text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #323754;
  text-align: start;
  align-items: center;
}

.flex-row-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.tag-item {
  background-color: #f6f6ff;
  border-radius: 30px;
  overflow-wrap: anywhere;
  padding: 0.5em 1em;
  border: none;
  color: #16274b;
}

.tag-item-confirm {
  border-radius: 30px;
  overflow-wrap: anywhere;
  padding: 0.7em 1.5em;
  background: #ffffff;
  border: 1px solid #d6d6e8;
  cursor: move;
}

.gray-span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #adadc8;
}

.horizontal-line {
  border: 1px solid #d6d6e8;
  height: 0px;
  width: 100% !important;
}

.grey-card {
  width: 100%;
  background: #f6f6ff;
  border-radius: 30px;
  text-align: center;
  min-height: 100px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.btn_edit {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  color: #f6f6ff;
  justify-content: center;
  border: none;
  height: 46px;
  background: #4048ff;
  border-radius: 30px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 300px;
  height: 52px;
}

.btn_edit span {
  padding: 6px 25px;
}

.btn_edit:hover {
  background: linear-gradient(85.14deg, #f52079 -1.05%, #4048ff 103.39%);
}

.btn_edit:focus {
  background: linear-gradient(85.14deg, #f52079 -1.05%, #4048ff 103.39%);
  outline: 3px solid rgba(64, 72, 255, 0.3) !important;
}

.btn_edit:disabled {
  background: #f6f6ff;
  color: #adadc8;
}

button.btn-close {
  font-size: 12px;
  padding-bottom: 5px;
  opacity: 0.2;
}

button.btn-close:focus {
  box-shadow: none;
}

// @media (max-width: 750px) {
//   .btn_edit {
//     position: fixed;
//     bottom: -16px;
//     z-index: 14;
//     right: 0px;
//     left: 0px;
//     width: 100%;
//     border-radius: 0px 0px 0px 0px;
//   }
// }
.categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* NEW */
  width: 100%;
}

.categories-item {
  flex: 1 0 7rem;
  /* NEW */
  margin: 5px;
  /* NEW */
  background-color: transparent;
  //height: 4rem;
  text-align: center;
  line-height: 3rem;
  position: relative;
}

.placeholder {
  flex: 1 0 5rem;
  /* NEW */
  margin: 5px;
  /* NEW */
  background-color: white;
  height: 2rem;
  text-align: center;
  line-height: 3rem;
  border: 1px;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag.inner {
  background-color: #fff;
  border-radius: 30px;
  border: 1px solid #d6d6e8;
  margin: auto;
  width: fit-content;
}

@media (max-width: 767.98px) {
  .flex-row-wrapper {
    justify-content: flex-start;
  }
  .tag-item,
  .gray-span {
    font-size: 12px;
  }
  button.btn-close {
    font-size: 9px;
    opacity: 0.2;
  }
  .btn_edit,
  .btn-green {
    font-size: 16px;
  }
  .drak-gray_text {
    text-align: center;
  }
  .example-list {
    border-bottom: 1px solid #f6f6ff;
    padding-bottom: 1em;
  }
}

.danger {
  color: #f52079;
}

.success {
  color: #00cc9e;
}

.danger-border {
  border: 1px solid #f52079;
}

.success-border {
  border: 1px solid #00cc9e;
}

.wrong-pass-phrase {
  color: #f52079;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  padding-top: 10px;
}

img.wrong-img {
  height: 25px;
  padding-right: 10px;
}

.tag-wrapper {
  display: flex;
  justify-content: flex-start;
}

.btn-refresh-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.8em;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #f52079;
  cursor: pointer;
}

.passPhrase-container {
  max-width: 95%;
}

.bolder-500-text {
  font-weight: 500;
}

.bolder-600-text {
  font-weight: 600;
}
