*,
*:focus {
    outline: none;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins';
}

:host {
    background-color: #ffffff;
    min-height: 100vh;
    max-width: 100vw;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    position: relative;
}

header,
main {
    flex-grow: 1;
}

.modal-body.modal-customm {
    /* padding: 0px 20px 40px!important; */
    text-align: center;
    position: relative;
}

meter[value='1'] {
    background: red;
}

meter[value='2'] {
    background: #ffd900;
}

meter[value='3'] {
    background: orange;
}

meter[value='4'] {
    background: #00cc9e;
}

.password-meter {
    display: flex;
    flex-direction: column;
    position: relative;
    /* margin-left: -2%;
  width: 90%; */
}

.modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100% !important;
    max-width: 33vw;
    min-width: min-content !important;
    background-color: #ffffff;
    border-radius: 30px !important;
    border: none;
}

.modal-body.modal-custom button {
    margin-top: 0px;
}

.modal-body.modal-customm button:hover {
    background: #4048ff;
    color: #ffffff;
}

.blue_email {
    color: #4048ff;
}

.blue-text {
    color: #4048ff;
}

.green-btn:hover {
    background: #009775 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1) !important;
    border-radius: 30px !important;
}

.green-btn:focus {
    background: #009775 !important;
    border-radius: 30px !important;
}

.green-btn {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #f6f6ff !important;
    background: #00cc9e !important;
    border-radius: 30px;
    /*width: 100% !important;
    height: 50px !important;
    margin: 0 !important; */
}

.modal-body.modal-customm button {
    padding: 10px 20px;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    margin-bottom: 0.2vh !important;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #4048ff;
    border: none;
    width: 100%;
}

.social-media-login_mobile {
    display: none;
}

.google-icon {
    width: 20px !important;
    height: 20px;
}

.google-noMargin {
    margin-left: 0px;
}

.show-mobile-version {
    display: none !important;
}

.show-pc-version {
    display: flex !important;
}

.social-media-show {
    display: block;
}

.social-media-show-mobile {
    display: none;
}


/*/////////////////////////////////////////*/

.checkbox {
    height: 20px;
}

.checkbox_c {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #75758f;
    margin-left: 1px;
    align-items: center;
    margin-left: 1rem;
}

.overlay-form {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    left: 0px;
    overflow: hidden;
    z-index: 9;
}

.left-side-content {
    /* background-color: white; */
    height: auto;
    position: relative;
    margin-top: 20px;
    /* float: right; */
    /* max-height: 67vh; */
}

.checkdiv {
    display: flex;
    align-items: flex-start;
}

.password-input,
.email-input {
    position: relative;
    width: 100%;
    margin-left: 0%;
}

.close-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
}

.field-icon {
    position: absolute;
    top: 28%;
    /* transform: translate(-50%, 0px); */
    right: 9px;
    z-index: 2;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: grey;
    cursor: pointer;
}

.pass_sucess {
    right: -19px;
    margin-left: -9px;
}

.pass_error {
    right: -14px;
    margin-left: -5px;
}

.field-icon-pass {
    position: relative;
    top: 20%;
    transform: translate(-50%, 0px);
    z-index: 2;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: grey;
    cursor: pointer;
}

.content {
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient( -52.85deg, #162746 7.82%, rgba(64, 128, 255, 0.46) 34.13%, #ff4b55 78.74%), url('/assets/Images/backgrounds/bgBlue.svg');
    background-blend-mode: hard-light;
    border-radius: 10px;
    height: fit-content;
    max-height: 700.04px;
    max-width: 1094.92px;
    overflow: hidden;
    margin: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.left-side-content form {
    max-width: fit-content;
    margin: 0px auto 1vh auto;
    /* max-width: 80%; */
    padding: 0 2em;
}

.left-side-content form .input_login {
    background: #ffffff;
    border: 1px solid #d6d6e8;
    border-radius: 30px;
    height: 45px;
    outline: none;
    padding: 0px 50px 0px 10px;
    margin-bottom: 0vh;
}

.left-side-content form .input_login:active {
    border: 1px solid #75758f;
}

.btn-reset-passwd {
    background-color: #00cc9e;
    color: white;
}

.left-side-content form button {
    height: 45px;
    width: 14rem;
    border-radius: 3rem;
    margin: 0.5em auto;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 100%;
    letter-spacing: 0.03em;
    display: block;
    width: 100%;
}

.blue-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #4048ff;
    cursor: pointer;
}

.btn_register:disabled {
    color: #adadc8;
    background: #f6f6ff;
    border: 0px;
    border: 1px solid #d6d6e8;
}

.btn_register {
    color: #ffffff;
    background: #00cc9e;
    border: 0px;
    font-weight: 600 !important;
    margin-top: 1.5rem !important;
}

.btn_register:not(:disabled):hover {
    background: #009775;
}

.btn_register:focus {
    border: 3px solid #c3f9ea;
}

.btn_login_white {
    background: #ffffff;
    color: #4048ff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-color: #4048ff;
    font-weight: 600 !important;
}

.btn_login_white:hover {
    color: #ffffff;
    background-color: #4048ff;
    border: 2px solid #0009d3;
    box-shadow: none;
}

.btn_login_white:focus {
    border: 2px solid #d6d6e8;
    box-shadow: none;
}

.social-media-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 90%;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.01em;
}


/* ::ng-deep iframe {
  opacity: 0.001;
  z-index: 999 !important;
} */

::ng-deep a iframe {
    opacity: 0.001;
    z-index: 999 !important;
}

.btn-close {
    font-size: 11px;
    right: -11px !important;
    top: 4px !important;
}

.tgm {
    position: absolute;
    position: absolute;
    left: 35px;
    width: 100% !important;
}

.social-media-login img {
    width: 10px;
    height: 20px;
}


/*.social-media-login a {
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
}
*/


/* .social-media-login a:hover,
.social-media-login a:focus {
  transform: scale(1.1);
} */

.facebook_log {
    letter-spacing: -0.01em;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #ffffff;
    cursor: pointer;
    background: #1967ff;
    border-radius: 3rem;
    margin-bottom: 18px;
    align-items: center;
    display: block;
    justify-content: center;
    width: 250px;
    height: 40px;
    display: block;
    padding-left: 15px;
    padding-top: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.facebook_log:hover {
    filter: drop-shadow(0px 1px 11px #cddefd) !important;
}

.google_log {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #757575;
    cursor: pointer;
    background: #ffffff;
    border-radius: 3rem;
    margin-bottom: 18px;
    align-items: center;
    display: block;
    justify-content: center;
    width: 250px;
    height: 40px;
    padding-top: 11px;
    padding-left: 2px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.google_log:hover {
    filter: drop-shadow(0px 1px 11px #cddefd) !important;
}

.google_log:active {
    background: #eeeeee;
}

.telegram_log {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #ffffff;
    cursor: pointer;
    background: url('/assets/Images/share_image.svg') no-repeat, #29a9eb;
    border-radius: 3rem;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5vh;
    width: 250px;
    background-position-x: 13px !important;
    background-position-y: 12px;
    position: relative;
    background-size: 7% !important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.telegram_log:hover {
    filter: drop-shadow(0px 1px 11px #cddefd) !important;
}

.sn-icon {
    position: relative;
    height: 40px;
    width: 40px;
}

.sn-icon-facebook {
    position: relative;
    height: 40px;
    width: 40px;
    padding-right: 20px;
}

.sn-icon-googleEnglish {
    position: relative;
    width: 42px;
    /* margin-left: 5px; */
}

.icon-google {
    position: relative;
    height: 20px;
    width: 20px;
    vertical-align: middle !important;
    top: -2px;
}

.sn-icon-googleFrensh {
    position: relative;
    width: 22px;
    padding-right: 12px;
    padding-left: 10px;
    /* margin-left: -21px; */
}

.sn-icon-telegram {
    position: relative;
    height: 45px;
    width: 37px;
    margin-left: 22px;
}

.sn-icon .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    transition: 0.05s ease;
    background-color: rgba(64, 72, 255, 0.3);
}

.sn-icon:hover .overlay,
.sn-icon:focus .overlay {
    opacity: 1;
    box-shadow: 0 0 0 2px rgba(64, 72, 255, 0.3);
    /*border: 2px solid #4048FF;*/
    /*box-sizing: border-box;*/
    /*border-radius: 50px;*/
}

.eng {
    margin-left: -9%;
}

.fren {
    margin-left: 2%;
}

.satt_crypto_coin {
    margin: auto;
}

.label_login_ou {
    /* text-transform: uppercase; */
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.label_login_ou::before,
.label_login_ou::after {
    content: '';
    min-width: 30%;
    height: 1px;
    background: #adadc8;
    margin: auto 1em;
}

.title_welcome {
    font-size: 22px;
    letter-spacing: 1px;
    color: #1f2337;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: 0.1rem;
    padding: 8px 6vw;
    text-align: center;
}

.title_connection {
    font-size: 0.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: #6c768c;
    margin: 0px;
}

.custom_hr {
    height: 20px;
}

.title_satt {
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
}

.header-set-lang {
    position: relative;
    top: 0;
    right: 0px;
    padding: 20px;
}

.header-set-lang .dropdown {
    width: fit-content;
    margin-left: auto;
}

.satt-coin-img {
    margin: auto;
    /* max-width: 555.96px; */
}

.satt_crypto_coin {
    text-align: center;
}

.left-side-content form label {
    color: #75758f;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: normal;
    line-height: 125.9%;
    letter-spacing: 0.03em;
    padding: 0px;
    font-size: 14px;
}

.thin_text {
    font-weight: lighter;
}

.form-error {
    text-align: center;
    margin: auto;
}

.input-error {
    text-align: left;
    /* max-width: 200px; */
}

.error-message {
    color: #adadc8;
    padding: 0.1rem;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: left;
    font-weight: 400;
    /* max-width: 200px; */
}

.error-message-server {
    color: #f52079;
    font-style: normal;
    font-weight: normal;
    font-size: large;
    line-height: 1rem;
    margin-top: 0.2rem;
    /* max-width: 200px; */
}

.error-message p {
    margin: 0px;
}

.error-message p {
    margin: 0px;
}

.error {
    background: #ffe9f2 !important;
    border: 1px solid #f52079 !important;
    padding-right: 43px !important;
}

.success {
    background: #ffffff !important;
    border: 1px solid #00cc9e !important;
}

.close-error-icon {
    color: #f52079;
}

.success-icon {
    color: #00cc9e;
}

.error_pass {
    margin-top: 4px !important;
    margin-right: -27px !important;
    position: relative;
}

.btntoggle {
    background: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 10px;
    padding: 19px 26px;
    color: black;
    cursor: pointer;
}

.btntoggle:focus,
.btntoggle:active,
.btntoggle.active {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: none !important;
}

.forgot_link {
    margin-bottom: 1vh;
}

a {
    padding: 0px;
    text-decoration: none;
}


/*-css modal reset password--*/

.error_input {
    color: #f52079;
    /* padding: 0.1rem; */
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 1rem;
    display: flex;
    margin-top: 0.2rem;
}

.change_btn {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #f6f6ff;
    border-radius: 30px;
    border: none;
    background: #00cc9e;
    height: 50px;
    width: 50%;
}

.label_input {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 125.9%;
    letter-spacing: 0.03em;
    color: #6c768c;
}


/*-----*/

.div_block {
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    height: 100%;
    width: 100%;
    min-height: fit-content;
    padding: 2em;
}

.logo_satt {
    width: 187.35px;
    height: 50px;
}

.btn_create {
    border-radius: 50px;
    background-color: #ffffff;
    color: #4048ff;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    margin-right: 15px;
    width: 253px;
    border-color: #4048ff;
    padding: 19px;
}

::ng-deep button .btnModalError {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    color: #4048ff;
}

.Password_lost_background {
    background: url('/assets/Images/backgrounds/bgBlue.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #ffffff;
    min-height: 100vh;
    max-width: 100vw;
    min-width: 300px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-body {
    padding: 10px;
    /* padding-bottom: 70px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0;
    /* margin-right: 0; */
    margin: 4em auto;
    /* margin-top: 55px; */
}

.auth_col {
    display: flex;
    align-items: center;
    background-color: #ffffff;
}

.icon_pc {
    /* position: absolute;
    top: 15vh;
    transform: translateY(28%); */
    width: 100%;
}

@media (max-width: 320px) {
    /* .facebook_log {
    font-size: 10px !important;
  }
  .google_log {
    font-size: 10px !important;
  } */
    .left-side-content form .input_login {
        height: 2rem;
    }
    .left-side-content form label {
        font-size: 0.7rem;
    }
    .title_welcome {
        font-size: 15px;
        letter-spacing: 1px;
        color: #ffffff;
        font-weight: bold;
    }
    .left-side-content form button {
        height: 2rem;
        /* width: 10rem; */
        font-size: 0.8rem !important;
    }
}


/* @media (max-width: 525px) {
    .footer {
        margin: 0px;
    }
    .left-side-content {
        padding: 0px;
        margin-top: 10px;
    }
    .dropdown-menu {
        width: 70px !important;
    }
    .social-media-login_mobile {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
} */

@media (max-width: 768px) {
  .titleCookieMobile {
    display: block;
}
    .google-icon {
        /* margin-left: 0px; */
    }
     ::ng-deep .container {
        max-width: 920px !important;
    }
    /* .label_login_ou {
        margin-bottom: 1.2vh;
        margin-top: -1.2vh;
    } */
    .btn_create_mobile {
        display: block;
        background-color: #ffffff;
        color: #4048ff;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        margin-right: 15px;
        width: 253px;
        border-color: #4048ff;
        padding: 0px;
    }
    .btn_create {
        display: none;
    }
    .content {
        height: auto;
        background: transparent;
        filter: none;
        max-height: fit-content;
    }
    .left-side-content {
        background: transparent;
        /* height: min-content;  */
        width: 100% !important;
    }
    .satt-coin-img {
        display: none;
    }
    .satt-coin-img-sm {
        display: block;
        margin: auto;
    }
    .custom_hr {
        width: 80%;
        margin: auto;
        max-width: 85% !important;
    }
    .custom_hr hr {
        width: 40%;
    }
}

@media (max-width: 900px) {
    /* .google-icon {
        margin-left: -15px;
    } */
    /* .icon_pc {
        position: absolute;
        width: 41vw !important;
        top: 20% !important;
    } */
    .title_token {
        font-size: 13px !important;
        top: 21vw !important;
    }
}

.auth_col {
    display: flex;
    justify-content: center;
}

.title_token {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 1px;
    color: #ffffff;
    position: relative;
    top: 13.5vw;
    padding: 20px;
}

@media (max-width: 767.98px) {
    .label_login_ou::before,
    .label_login_ou::after {
        /* min-width: 46%; */
        width: 100%;
        min-width: 100%;
    }
    .form-check-input {
        background-color: transparent;
        border-color: #d6d6e8;
    }
    .checkbox_c {
        font-size: 12px !important;
        margin-left: 0.2rem !important;
    }
    .drak-gray_text {
        color: #75758f !important;
    }
    .token-text {
        color: white;
    }
    .password-meter-text i {
        font-size: 1em;
        /* color: white; */
    }
    .left-side-content form {
        max-width: 500px !important;
    }
    .left-side-content {
        margin-top: 0px;
    }
    .modal-content {
        min-width: 260px;
    }
    .modal-header.modal-custom {
        margin-top: 0px !important;
    }
    .txtModal {
        font-size: 12px;
    }
    .modal-body.modal-custom h3 {
        font-size: 1rem !important;
    }
    .satt-modal-header-img {
        height: 40px !important;
        width: 40px !important;
    }
    .sn-icon-googleFrensh {
        position: relative;
        width: 37px;
        /* margin-left: -32px; */
    }
    /* .label_login_ou {
        margin-bottom: 1.2vh;
        margin-top: 0px !important;
    } */
    .auth-body {
        margin-top: 7rem !important;
        overflow: hidden;
    }
     :host {
        background: scroll center center;
        background: linear-gradient(180deg, #1f2337 20.34%, #4048ff 130.85%);
        /* background-image: url('/assets/Images/backgrounds/bgBlue.svg') !important; */
        background-size: cover !important;
        background-repeat: no-repeat;
        height: 100% !important;
        /* position:fixed ;
    top: 0px;
    bottom: 0px;
    right: 0;
    left: 0; */
        overflow-y: auto !important;
        overflow-x: hidden !important;
    }
    .social-media-show {
        display: none !important;
    }
    .social-media-show-mobile {
        display: flex !important;
        justify-content: center !important;
    }
    .show-mobile-version {
        display: flex !important;
    }
    .show-pc-version {
        display: none !important;
    }
    .auth_col {
        /* margin-top: 80px; */
        background-color: transparent !important;
    }
    .title_welcome {
        margin: 0px;
        margin-bottom: 1vh !important;
        display: flex !important;
        justify-content: center !important;
        color: #ffffff !important;
        font-size: 30px !important;
    }
    .left-side-content form label,
    .title_connection {
        color: white !important;
    }
    /* .google-icon {
        margin-left: -15px !important;
    } */
    .label_login_ou {
        color: white !important;
    }
    .sn-icon {
        margin: 10px;
    }
    .left-side-content form button {
        font-style: normal;
    }
    .facebook_log,
    .google_log,
    .telegram_log {
        margin-bottom: 1em;
    }
}

@media (max-width: 922px) {
    .textpwd {
        font-size: 16px;
    }
    .modal-body.modal-custom {
        padding: 0px 15px 40px !important;
    }
    .satt-modal-header-img {
        height: 80px;
        width: 80px;
    }
    .modal-body.modal-custom button {
        font-size: 14px;
    }
    .green-btn {
        font-size: 14px;
        height: 40px !important;
        width: auto;
    }
    .auth-body {
        margin-top: 0px;
    }
    /* .left-side-content {
    max-height: 71vh;
  } */
     ::ng-deep app-footer .Copyright_footer_login {
        color: #ffffff !important;
        max-width: 145px !important;
    }
    /* .social-media-login a {
        margin-left: 0% !important;
    } */
    .google_icon {
        margin-left: -17px !important;
    }
    /* .checkbox {
    width: 18px;
  } */
    /* .checkbox_c {
        font-size: 16px !important;
    } */
    .blue-text {
        font-size: 16px !important;
    }
    .logo_satt {
        width: 165.35px !important;
        height: 45px !important;
    }
    .title_welcome {
        font-size: 35px;
    }
    /* .telegram_log {
    height: 40px !important;
    font-size: 14px !important;
    background-position-x: 33px !important;
  }
  .google_log {
    height: 40px !important;
    font-size: 14px !important;
  }
  .tgm {
    font-size: 14px;
    left: 66px;
  } */
    .facebook_log {
        height: 40px !important;
        font-size: 14px !important;
    }
    /* .social-media-login img {
    height: 36px !important;
  } */
    .left-side-content form .input_login {
        height: 37.36px !important;
    }
    .left-side-content form button {
        height: 40px !important;
        font-size: 1em !important;
    }
     ::ng-deep .container {
        /* max-width: 720px !important;   */
        max-width: 100% !important;
    }
    .btn_create {
        font-size: 16px !important;
        margin-right: 8px !important;
        width: auto !important;
        border-color: #4048ff !important;
        padding: 15px !important;
    }
}

@media (min-width: 1200px) and (max-width: 1440px) {
    .left-side-content form {
        padding: 0 0em !important;
        min-width: 400px;
    }
}

@media (max-width: 400px) {
    .left-side-content form {
        max-width: 100% !important;
        padding: 0 !important;
    }
    .sn-icon-facebook {
        /* margin-right: 5px !important; */
    }
    /* .facebook_log {
    width: 256px;
  }
  .google_log {
    width: 256px;
  } */
     ::ng-deep.tgme_widget_login.large button.tgme_widget_login_button {
        font-size: 14px !important;
        padding: 7px 10px 7px !important;
    }
    .sn-icon-facebook {
        height: 40px !important;
        width: 30px !important;
    }
    /* .sn-icon-googleFrensh{
        height: 40px;
        width: 30px;
    } */
    /* .sn-icon-googleEnglish {
        position: relative;
        width: 33px;
        margin-left: 0px;
    } */
}

.row_label {
    margin-left: 1px;
}

.password-meter-text {
    text-align: left;
    font-size: 1em;
}

.password-meter-text i {
    font-size: 1em;
}

.sshow {
    display: none;
}

.password-meter-text::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 90%;
    transition: width 0.8s;
}

.password-meter-text[data-password-strength='1'],
.password-meter-text[data-password-strength='0'] {
    color: red;
}

.password-meter-text[data-password-strength='2'] {
    color: #ffd900;
}

.password-meter-text[data-password-strength='3'] {
    color: orange;
}

.password-meter-text[data-password-strength='4'] {
    color: #00cc9e;
}

.password-meter-text[data-password-strength='0']::before {
    width: 10%;
    background: red;
}

.password-meter-text[data-password-strength='1']::before {
    width: 25%;
    background: red;
}

.password-meter-text[data-password-strength='2']::before {
    width: 50%;
    background: #ffd900;
}

.password-meter-text[data-password-strength='3']::before {
    width: 75%;
    background: orange;
}

.password-meter-text[data-password-strength='4']::before {
    width: 100%;
    background: #00cc9e;
}

@media (max-width: 375px) {
     :host {
        height: calc(100% - 64px);
        overflow-y: auto;
        overflow-x: hidden;
    }
}


/* @media screen and (orientation:landscape){
    :host{
        overflow-y:scroll !important;
        position: relative !important ;
    }
} */

.success_error {
    vertical-align: middle;
    background: rgba(0, 204, 158, 0.2);
    border-radius: 30px;
    color: #00cc9e;
    border: none;
    width: 100%;
    min-height: 40px;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.danger_error {
    vertical-align: middle;
    background: rgba(245, 32, 121, 0.2);
    border-radius: 30px;
    color: #f52079;
    border: none;
    width: 100%;
    min-height: 40px;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.token-text {
    margin-bottom: 1.5em;
    max-width: 324px;
    text-align: center;
}

.form-check-input {
    margin-bottom: 0.8em;
}

.text-link {
    color: #4048ff;
}
.modalCook {
  border-radius: 30px;
  margin-top: -500px;
  z-index: 999999999;
  background: #1f2337;
  box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.15);
}

.boldcook {
  font-weight: 800;
}

.btnCOOkiesB {
  background: #ffffff;
  color: blue;
  border: 1px solid #4048ff;
  border-radius: 30px;
  height: 40px;
  font-size: 14px;
}

.btnCOOkies {
  border: 1px solid #ffffff;
  border-radius: 30px;
  color: white;
  background: transparent;
  height: 40px;
}

.texteCOOK {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 118% !important;
  letter-spacing: 0.03em !important;
  color: #ffffff;
}

.cookiesBlock {
  z-index: 99999999999;
  margin-top: -144px;
  bottom: 0;
  position: fixed;
  background: #1f2337;
  box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.15);
}

.cookieTitle {
  color: white;
}

.titleCookie {
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 1px;
  color: white;
}

.titleCookieweb {
  text-align: left;
}

.titleCookieMobile {
  text-align: center;
  padding-top: 45px;
  display: none;
}
.cookiesBlockAlert {
  z-index: 99999999999;
  margin-top: -144px;
  bottom: 0;
  position: fixed;
  background: #1f23379c;
  box-shadow: 0px -10px 10px rgb(0 0 0 / 46%);
  transform: scale(1.01);
}

.btn_row_cookies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (max-width: 1150px) {
  .texteCOOK {
      font-weight: 400;
      font-size: 11px;
      line-height: 100%;
      letter-spacing: 0.02em;
  }
}

@media (max-width: 575px) {
  .texteCOOK {
      width: 80%;
      text-align: justify;
      font-size: 14px;
      margin-left: 10%;
  }
  .btnCOOkiesB {
      width: 70%;
      margin-left: 0%;
  }
  .btnCOOkies {
      width: 70%;
      margin-left: 0%;
  }
  .cookiesBlock {
      height: 100% !important;
      background: #1f2337;
      opacity: 0.99;
  }
  .imageCOOK {
      width: 150px !important;
      height: 150px;
      margin-top: 3% !important;
      /* margin-left: 25%; */
  }
  .titleCookieWeb {
      display: none;
  }
  .titleCookieMobile {
      display: block;
  }
}
