/***************************************************************************************************/

:host {
  width: 100%;
  min-width: 300px;
  height: 100%;
  min-height: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
}

*:focus {
  outline: none;
}

.div-header {
  height: 150px;
}

.white-bloc {
  width: 100%;
  //padding: 120px 1em 1em;
  padding-top: 120px;
  background: white;
  //  border-radius: 30px !important ;
  border-collapse: collapse;
  //border-top-left-radius: 30px !important;
  //border-top-right-radius: 30px !important;
  //border-radius: 30px;
  //padding: 1em;
  overflow: auto;
  overflow-x: hidden;
  margin-left: 0;
  //height: calc(100vh - 63px);
}

.div-content {
  max-width: 727px;
  margin: 10px auto;
}

@media (min-width: 767.98px) {
  .margin-top-btn {
    margin-top: 60px !important;
  }
}

.input-amount {
  margin-top: 6.5vh;
  border: none;
  width: 100%;
  color: #00041b;
  height: 60px;
  font-weight: 700;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  padding-bottom: 0px;
  line-height: 110%;
  margin-top: 33px;
}

.input-amount-usd {
  margin-bottom: 2vh;
  border: none;
  width: 100%;
  color: #75758f;
  height: 50px;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 110%;
}

.input-amount::placeholder {
  color: #323754;
  font-weight: 700;
  padding: 15px !important;
  font-size: 48px;
  text-align: center;
}

.hard-gray-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1px;
  color: #75758f;
}

.div-input-icon {
  position: relative;
  width: 300px;
  height: 48px;
  display: flex;
  border: 1px solid #d6d6e8;
  border-radius: 30px;
  align-items: center;
}

.input-icon {
  width: 95%;
  line-height: 1.57142857;
  font-size: 14px;
  color: #162746;
  border-radius: 30px;
  border: none;
}

.input-password {
  width: 74%;
  line-height: 1.57142857;
  font-size: 14px;
  color: #162746;
  border-radius: 30px;
  border: none;
}

.input-password::placeholder,
.input-icon::placeholder {
  color: #adadc8;
}

.buy-swap-btn {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  color: #4048ff;
  background: white;
  border-radius: 30px;
  max-width: 350px;
  padding: 12px;
  box-shadow: 0px 2px 6px rgb(0 0 0 / 25%);
  cursor: pointer;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.buy-swap-btn:focus {
  box-shadow: 0px 2px 6px rgb(0 0 0 / 25%);
}

.blue-btn:hover:enabled {
  background: linear-gradient(85.14deg, #f52079 -1.05%, #4048ff 103.39%);
}

.blue-btn:focus {
  background: linear-gradient(85.14deg, #f52079 -1.05%, #4048ff 103.39%);
  outline: 3px solid rgba(64, 72, 255, 0.3);
}

.blue-btn:disabled {
  background: #f6f6ff;
  color: #adadc8;
  border: 1px solid #d6d6e8;
  box-shadow: none;
}

.btn-blue:hover:enabled {
  background: linear-gradient(85.14deg, #f52079 -1.05%, #4048ff 103.39%);
}

p {
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.black {
  color: black;
}

.hard-gray {
  color: #75758f;
}

.italic-text {
  color: #adadc8;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
}

.blue-text {
  color: #4048ff;
}

.fa {
  color: thistle;
  font-size: 22px;
}

.title-text {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
}

.pink-text {
  color: #f52079;
}

.requestion-text {
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 1px;
  color: black;
  font-style: normal;
  font-weight: 700;
}

/**********************/

.black-text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #1f2337;
  text-align: left;
}

.btn-blue {
  background: white;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: 0.03em;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 22.1827px;
  color: blue;
  border: none;
  height: 50px;
  width: 80%;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.router-text {
  color: #4048ff !important;
  cursor: pointer;
}

.trans-upper {
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  color: black;
  font-weight: 600;
}

.error_msg {
  text-align: center;
  font-size: 13px;
  line-height: 13px;
  color: #f52079;
  max-width: 300px;
}

.border-error {
  border: 1px solid #f52079;
}

.text-error {
  color: #f52079 !important;
}

.text-error::placeholder {
  color: #f52079 !important;
}

.text-error::-moz-placeholder {
  color: #f52079 !important;
  opacity: 1 !important;
}

.success_msg {
  text-align: start;
  font-size: 13px;
  line-height: 13px;
  color: #00cc9e;
}

.textplace::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #adadc8;
}

.textplace {
  overflow: hidden;
  resize: none;
  background: #ffffff;
  border-radius: 20px;
  border: 1px solid #d6d6e8;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  padding: 10px;
  height: 127px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.input-wrapper {
  padding: 0;
  border: 1px solid #d6d6e8;
  border-radius: 30px;
  text-align: center;
  color: #162746;
  display: flex;
  align-items: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  height: 100%;
}

@media (max-width: 767.98px) {
  .dropdown-text2 {
    display: inline-block !important;
    max-width: 75px !important;
    font-size: 16px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    margin-top: 5px !important;
  }
  .li-select-text {
    font-size: 11px !important;
  }
  .selected-symbol {
    font-size: 15px;
  }
  .showMobile {
    display: block !important;
  }
  .white-bloc {
    margin-top: 65px;
    //position: fixed;
    width: 100%;
    margin-left: 0;
    z-index: 100;
    //border-top-left-radius: 30px !important;
    //border-top-right-radius: 30px !important;
    border-radius: 30px !important;
    overflow: hidden !important;
    //padding: 1em;
    height: 100vh !important;
    padding-top: 1em;
    position: relative;
    //height: calc(100vh - 141px);
    //margin-bottom: 42px;
    -webkit-border-radius: 30px !important;
    -moz-border-radius: 30px !important;
    -ms-border-radius: 30px !important;
    -o-border-radius: 30px !important;
  }
  .input-amount-usd {
    font-size: 24px;
    max-width: 100%;
  }
  .input-amount {
    font-size: 36px;
    max-width: 100%;
  }
  .input-amount::placeholder {
    font-size: 36px;
  }
  // .white-bloc {
  //     margin-top: 65px;
  //     // position: fixed;
  //     width: 100%;
  //     margin-left: 0;
  //     z-index: 100;
  //     padding: 1em;
  //     width: 100%;
  //     height: 100vh;
  //     // margin-bottom: 42px;
  // }
  .title-text {
    font-size: 20px;
  }
  .trans-upper {
    font-size: 12px;
  }
  // .div-footer {
  //     margin-top: 8vh;
  // }
}

.span-transacHash {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  color: #4048ff;
}

.cursor-pointer {
  cursor: pointer;
}

.cross_input_network {
  cursor: pointer;
  color: #adadc8;
  right: 14px;
  top: 15px;
  position: absolute;
  font-size: 17px;
}

.otherSymbol {
  width: 37.09px;
  height: 36px;
  font-size: 11px !important;
  // position: relative;
  // left: -18px;
}

.symbol {
  background: white;
  border-radius: 20px;
  border: 1px solid #1f2337;
  width: 32px;
  height: 32px;
  color: #1f2337;
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  position: absolute;
  right: 9px;
  font-size: 20px;
}

.selected-symbol {
  top: 8px;
}

.bigSymbol {
  width: 37.09px;
  height: 36px;
  font-size: 11px !important;
}

.dropdown-menu-buy {
  max-height: 300px !important;
  overflow: auto !important;
}

.symbol2 {
  background: white;
  border-radius: 50%;
  border: 1px solid #1f2337;
  width: 32px;
  height: 32px;
  color: #1f2337;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 13px;
  margin: 0px;
}

/*-----------css dropdowen------ */

.dropdown-toggle::after {
  outline: none !important;
  display: none;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.dropdown-menu {
  width: 98%;
  border: none;
  background: none;
  position: relative !important;
  transform: none !important;
  top: 0px !important;
  padding: 5px !important;
  max-height: 200px;
  overflow-y: auto;
  text-overflow: ellipsis;
}

.overflow {
  overflow: scroll !important;
  overflow-x: hidden !important;
}

.dropdown {
  outline: none !important;
  background: #ffffff;
  border-radius: 30px;
  width: 183px;
  position: relative;
  border: 1px solid #d6d6e8;
  padding: 0;
  height: max-content;
  z-index: 6;
  overflow: hidden;
}

.dropdown2 {
  outline: none !important;
  background: #ffffff;
  border-radius: 30px;
  width: 183px;
  position: relative;
  border: 1px solid #d6d6e8;
  padding: 0;
}

.li-select {
  padding-bottom: 16px;
  cursor: pointer;
  position: relative;
}

.li-select-text {
  color: #00041b;
  font-weight: 600;
  text-align: center;
  font-size: 16px;
}

.chevron:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-size: 1.2rem;
  content: '\f107';
  display: inline-block;
  line-height: 22px;
  color: #00041b;
  position: absolute;
  left: 12px;
  top: 15px;
}

.btn-dropdown {
  height: 48px;
  text-align: initial;
  padding: 5px;
}

.btn-dropdown:disabled {
  opacity: 1;
}

.width_icon_crypto {
  width: 28px;
}

.custom-dropdown-menu {
  padding: 5px !important;
}

/*-----------end css dropdowen------ */

.crypto-image {
  height: 31px;
  width: 31px;
}

.dropdown-text {
  color: #00041b;
  font-weight: 600;
  text-align: center;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-text2 {
  color: #00041b;
  font-weight: 600;
  text-align: center;
  font-size: 16px;
}

@media (max-width: 424.98px) {
  .dropdown {
    // width: 43vw;
    width: 145px;
  }
  .symbol2 {
    right: 27px;
    top: -7px;
    width: 24px;
    height: 23px;
    font-size: 8px;
  }
  // .dropdown-text {
  //     font-size: 14px;
  // }
  .crypto-image {
    height: 26px;
    top: 12px;
  }
  .width_icon_crypto {
    width: 25px;
    right: 23px;
  }
  .symbol {
    width: 27px;
    height: 27px;
    right: 10px;
    top: 11px;
  }
  .li-select-text,
  .dropdown-text {
    font-size: 16px;
  }
}

.height-drop {
  height: 66px;
}

/***/

.picture-moonboy {
  max-width: 377px;
  max-height: 300px;
  height: 97vw;
  width: 100%;
  margin-left: 15px;
}

.text-moonboy {
  font-size: 2vmin;
  top: 15%;
  margin-left: 7%;
  text-align: center;
  line-height: 17px;
  position: absolute;
}

.div-pic-text {
  margin: 10px;
  position: relative;
  justify-content: flex-end;
  display: flex;
}

// .div-footer {
//   position: fixed;
//   max-width: 500px;
//   bottom: -130px;
//   right: 0;
//   /* overflow: hidden; */
//   width: 80vw;
//   margin-right: -49px;
//   margin-left: auto;
// }
.div-footer {
  position: absolute;
  bottom: 0;
  right: 0;
}
.div-footer-mobile {
  margin-top: 3vh;
  height: max-content;
}
@media (min-height: 840px) {
  .div-footer-mobile {
    margin-top: 9vh !important;
  }
}
@media (max-width: 767.98px) {
  .div-footer {
    display: none !important;
  }
}

@media (max-width: 1400px) {
  // .div-footer {
  //   position: relative;
  // }
  :host {
    overflow-y: auto;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
  }
  :host::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
  }
}

// @media (max-width: 375.98px) {
//   .text-moonboy {
//     top: 16.5% !important;
//     margin-left: 17% !important;
//     font-size: 12px;
//   }
// }
.purshase-btn-text {
  width: 100%;
  margin: 0 20px;
}

.img-width-32 {
  width: 32px;
}

.border-radius-circle {
  border-radius: 50%;
}
