:host {
    width: 100%;
    overflow: scroll;
    min-height: 100vh;
    height: 100%;
}
*{
    outline: none !important;
}

@media (max-width: 414.9px) {
    .mgt-mobile{
        margin-top: 0.5rem !important;
    }
    .title-container{
        margin-top: 0.5rem !important;
        margin-bottom: -0.5rem !important;
    }
    .hide-mobile{
        margin-top: 0rem !important;
        margin-bottom: 0rem !important;
    }

}
.nav-link {
    /* cursor: pointer; */
    color: #87879c;
    background: white !important;
    /* color: #1F2337; */
    height: 100%;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    .search-input-wrapper{
        background: white !important;
    }
  } 

  .search-input-wrapper::-moz-placeholder{
      opacity: 1 !important;
  }



.nav-link.active {
    cursor: pointer;
    /* height: 100%; */
    height: 104%;
    color: #4048ff;
    background: none;
    border: none;
    border-bottom: solid 5px #4048ff;
}

.nav-item {
    /* cursor: pointer; */
    color: #1f2337;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.02em;
    border-bottom: 1px solid #dadbf0;
    padding: 0;
}

#key {
    background-image: url('/assets/Images/search5.svg');
    background-position: 13px;
    background-repeat: no-repeat;
    margin-left: 5%;
    width: 89.5%;
    padding-left: 45px;
    margin-top: 13px;
    font-style: normal;
    font-size: 20px;
    height: 48px;
    border: 1px solid #d6d6e8;
    border-radius: 30px;
    outline: none !important;
}

.select-interests {
    width: 99%;
    /* height: 48px; */
    margin-left: 0.6%;
    padding: 6px 15px;
    line-height: 1.57142857;
    border: 1px solid #d6d6e8;
    font-size: 16px;
    background-color: white;
    color: #adadc8;
    border-radius: 30px;
    /* overflow-y: auto; */
    /**/
}

hr {
    border: 2px solid #d6d6e8;
    width: 95%;
}

.btn-back {
    background: transparent;
    color: #4048ff;
    border: none;
    height: 48px;
    border-radius: 18px;
    float: right;
    position: absolute;
    right: 48px;
    /* margin-top: -9px; */
}

.typesearch {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #75758f;
    position: relative;
}

.alreadyadded {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #75758f;
    /* position: relative; */
    /* margin-left: 46%; */
    position: absolute;
    right: 53px;
}

::ng-deep .ng-dropdown-panel .scroll-host {
    display: block;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    width: 100%;
    border-radius: 5px;
    height: 2px;
    background-color: white;
    border: 1px solid #d6d6e8;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    padding-left: 1rem !important;
}

::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    white-space: nowrap;
    padding-right: 7px;
    font-family: 'Poppins';
    color: #adadc8;
}

::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input>input {
    font-family: 'Poppins';
    color: #adadc8;
}

::ng-deep .ng-dropdown-panel {
    z-index: 1;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option:hover {
    background-color: #cecedb;
}

.aa {
    margin-left: 92%;
    margin-top: 1%;
}

.form-check-input {
    right: 26px;
    top: 16px;
}

.form-check-input:checked {
    /* background: #0d6efd; */
}

.red {
    margin-right: 89%;
    margin-top: 1%;
}

.Icons {
    width: 33px;
    position: relative;
    top: -6px;
}

.search-input-wrapper {
    justify-content: flex-end;
    gap: 0.5em;
    align-items: flex-start;
}

.nav-item-active {
    cursor: pointer;
    color: #495057;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.02em;
    padding: 0;
}

.nav-tabs {
    border-bottom: 2px solid #adadc8;
    text-align: center;
}


/********/

.blockchaintype {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 125.9%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #75758f;
    background: #ffffff;
    border: 1px solid #d6d6e8;
    box-sizing: border-box;
    border-radius: 20px;
    height: 48px;
    min-width: 169px;
    width: 30%;
}

.blockchaintype:focus {
    background: #f6f6ff;
}

.activeType {
    background: #f6f6ff;
    color: #323754 !important;
}

.cancel-btn-mobile {
    position: absolute;
    width: 50%;
    border-top-left-radius: 30%;
    bottom: 0;
    left: 0;
    background: white;
    color: #adadc8;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border: none;
    height: 75px;
    border-right: 1px solid #f6f6ff;
    box-shadow: 0px 4px 20px 0px #00000033;
}

.add-btn-mobile {
    position: fixed;
    width: 100%;
    /* border-top-right-radius: 30%; */
    bottom: 0;
    right: 0;
    background: white;
    color: #4048ff;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    border: none;
    text-align: center;
    height: 75px;
    box-shadow: 0px 4px 20px 0px #00000033;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cancel-btn {
    /* width: 190px; */
    width: 18%;
    min-width: 171px;
    background: white;
    color: #4048ff;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border: none !important;
    height: 56px;
    border-radius: 30px;
    box-shadow: 0px 2px 6px 0px #32375466;
}

.cancel-btn:hover{
    background: #F6F6FF;
  box-shadow: 0px 2px 6px rgba(50, 55, 84, 0.4);

}
.cancel-btn:focus{
    background: #F6F6FF;
    box-shadow: inset 0px 2px 2px rgba(117, 117, 143, 0.5);
}


.add-btn {
    /* width: 200px; */
    width: 22%;
    min-width: 177px;
    border-radius: 30px;
    background: #4048ff;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    border: none;
    text-align: center;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-btn:hover:enabled {
    background: #0009d3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.add-btn:focus:enabled {
    background: #0009d3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    color: #d6d6e8;
}

.cancel-btn:hover:enabled {
    border: 2px solid #0009d3;
    box-shadow: none;
}

.add-btn-mobile:disabled,
.add-btn:disabled {
    background: #d6d6e8;
    color: #adadc8;
}

.input-type {
    width: 100%;
    height: 48px;
    padding: 6px 46px 6px 15px;
    line-height: 1.57142857;
    border: 1px solid #d6d6e8;
    font-size: 15px;
    background-color: white;
    color: #47526a;
    border-radius: 30px;
}

.label-type {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #75758f;
    text-transform: uppercase;
}

.label-type-search {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #75758f;
    text-transform: uppercase;
    text-align: center;
}

.label-search {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    color: #4048ff !important;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.show-mobile {
    display: none !important;
}

.show-desktop {
    display: block !important;
}

.white-block-desktop {
    background: white;
    /* width: 97%; */
    width: 100%;
    /* height: calc(100vh - 166px);
    max-height: 100vh; */
    border-radius: 30px;
    padding: 0;
    border: 1px solid #d6d6e8;
    overflow: hidden;
    /* margin-top: 10px; */
}

@media (max-width: 767.98px) {
    .white-block-desktop {
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll !important;
        margin-bottom: 120px;
    }
    .btn-back {
        width: 50px !important;
        height: 50px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #4048ff !important;
        background-color: white !important;
        border-radius: 50% !important;
        border: none !important;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%) !important;
        cursor: pointer;
        text-align: center;
        font-size: 25px;
        float: left;
        /* position: fixed !important; */
        left: 21px;
        top: -11px;
        /* z-index: -1; */
    }
    .span_btn_back {
        display: none;
    }
    /* .white-block-desktop{
        margin-top: 62px;
    } */
    /* .white-block-desktop {
        background: transparent !important;
        width: 100%;
        border: none !important;
        margin: 0 !important;
    }
    .white-block {
        background: white;
        width: 100%;
        height: calc(100vh - 166px);
        max-height: 100vh;
        border-radius: 30px;
        padding: 0;
        border-top: 1px solid #D6D6E8;
        overflow: hidden;
    } */
    .show-mobile {
        display: block !important;
    }
    /* .show-desktop {
        display: none !important;
    } */
    .success_alert,
    .danger_alert {
        width: 93% !important;
    }
    .padding-mobile {
        padding: 0 !important;
    }
    .add-btn ,.cancel-btn {
/* width: 100% !important;    */

min-width: 50%;
}
}

@media (max-width: 575.98px) {
    .blockchaintype {
        height: 42px !important;
        width: 120px !important;
        min-width: 120px !important;
    }
    /* .btn-back{
        right: 17px;
    } */
}


/* @media (max-width:400px) {
    .btn-back{
        right: 12px;
        margin-top: 0px;
    }
} */

.div-blockchaintype {
    gap: 0.5em;
}

.danger_alert {
    vertical-align: middle;
    background: #fdd2e4;
    border-radius: 30px;
    color: #f52079;
    border: none;
    font-weight: 600;
    font-size: 12px;
    width: 63%;
    height: 40px;
    display: flex;
    align-items: center;
}

.success_alert {
    vertical-align: middle;
    background: #ccf5ec;
    border-radius: 30px;
    color: #00cc9e;
    border: none;
    font-weight: 600;
    font-size: 12px;
    width: 63%;
    height: 40px;
    display: flex;
    align-items: center;
}

.error_msg {
    text-align: start;
    font-size: 13px;
    line-height: 13px;
    color: #f52079;
}

.success_msg {
    text-align: start;
    font-size: 13px;
    line-height: 13px;
    color: #00cc9e;
}

.loading-spinner {
    position: absolute;
    right: 26px;
    top: 33px;
    border-right-color: #4048ff !important;
    border: 0.25em solid white;
}

.icon-input {
    position: absolute;
    right: 22px;
    top: 35px;
}

.title-page {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 1px;
    color: #1f2337;
}

.border-red {
    border-color: #f52079 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input:read-only {
    background: #f6f6ff !important;
}

.loading-btn {
    position: absolute;
    border-right-color: #4048ff !important;
    border: 0.25em solid white;
}

.rounded-top-right-20 {
    border-radius: 30px !important;
    margin-top: 10px;
}

.list-group-item {
    border: 1px solid #f6f6ff;
    width: 101%;
}

.list-group-item:hover {
    /* background: #F6F6FF;    */
    border: 1px solid #4048ff;
    background: #ffffff;
}

.list-group-item:focus-within {
    border: 1px solid #4048ff;
    /* background: #F6F6FF; */
    background: #ffffff;
}

.list-group-item:active {
    border: 1px solid #4048ff !important;
    background: #f6f6ff !important;
}


/* input[type=radio] { display: none } */

.table-crypto::-webkit-scrollbar {
    width: 7px;
}

.table-crypto::-webkit-scrollbar-track {
    background: transparent;
    /* color of the tracking area */
}

.table-crypto::-webkit-scrollbar-thumb {
    background-color: #b1b1bb;
    border-radius: 20px;
    border: 3px solid#b1b1bb;
}

.table-crypto {
    overflow-y: auto;
    height: 100%;
}

.table-cry {
    height: 393px;
}


/* 
    .radiolabel{
        background-image: url("/assets/Images/DELETE-TOKEN.svg");
        background-repeat: no-repeat;
    } */

input[type='radio'] {
    height: 19px;
    width: 19px;
}


/* 
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  [type=radio] + img {
    cursor: pointer;
  }
  
  [type=radio]:checked + img {
    /* outline: 2px solid #f00; 
    background-image: url("/assets//Images/success-icon.svg");
    background-repeat: no-repeat;
  } 
  */
