<div class="container-fluid page-content">
  <header>
    <app-dashboard-header [title]="title"></app-dashboard-header>
  </header>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
