:host {
  /*display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 30px;*/
  .block-create-campaign {
    display: flex;
    border: 1px solid rgb(218, 218, 218);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 30px;
    width: 100%;
    height: 350px;
    max-width: 350px;
    position: relative;
    overflow: hidden;
    // justify-content: center;
    // align-items: center;
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }
  .pic-btn-create-campaign {
    position: absolute;
    z-index: 1;
    bottom: 16px;
    left: 18px;
  }
  .title-budget {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
    text-align: center;
  }
  .btn-create-campaign {
    position: absolute;
    bottom: 0;
    background: linear-gradient(85.14deg, #f52079 -1.05%, #4048ff 103.39%);
    height: 65px;
    width: 100%;
    right: 0px;
    border: none;
    display: flex;
    justify-content: center;
  }
  .text-btn-create-campaign {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #ffffff;
    border: none;
    display: flex;
    align-self: center;
    cursor: pointer;
  }
  .block-title-create-campaign {
    height: 72%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.style-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 30px;
}

.SpinnerAuth {
  top: 89% !important;
}

img.not-found {
  width: 33%;
  max-width: 400px;
  min-width: 150px;
}

.make-center {
  text-align: center;
  justify-content: center;
}

::ng-deep iframe {
  opacity: 0.001;
  z-index: -1 !important;
}

::ng-deep #fc_frame,
#fc_frame.fc-widget-normal {
  z-index: -1 !important;
  opacity: 0 !important;
}

// .modal-dialog {
//   height: 100vh;
//   margin: 0px auto;
//   max-width: 1000px;
// }
// .modal-header.modal-customm .btn-close {
//   border: none !important;
//   position: absolute;
//   margin: 0px;
//   top: 0px;
//   right: 0px;
//   padding: 30px;
//   max-height: 30px;
//   max-width: 30px;
//   box-shadow: none;
// }
// .modal-header.modal-customm,
// .modal-body.modal-customm,
// .modal-footer.modal-customm {
//   border: none !important;
// }
// .modal-header.modal-customm {
//   height: 60px;
// }
// .modal-body.modal-customm {
//   padding: 20px 50px !important;
//   text-align: center;
//   position: relative;
// }
// .modal-content {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
//   width: 100% !important;
//   max-width: 70vw;
//   background-color: #f6f6ff !important;
//   border-radius: 30px !important;
//   border: none;
// }
// .modal-body.modal-customm button {
//   padding: 10px 20px;
//   border-radius: 30px;
//   background: #4048ff;
//   margin-bottom: 10px;
//   font-style: normal;
//   font-weight: 600;
//   font-size: 18px;
//   line-height: 27px;
//   text-align: center;
//   letter-spacing: 0.01em;
//   color: #F6F6FF;
//   border: none;
//   width: 100%;
// }
// .modal-body.modal-customm .btn_later {
//   background: #ffffff;
//   color: #4048ff;
//   box-shadow: 0px 2px 6px rgb(50 55 84 / 40%) !important;
// }
// .modal-body.modal-customm .btn_fill_profile:hover {
//   background: linear-gradient(84.45deg, #F52079 -28.09%, #4048FF 78.5%) !important;
//   color: #ffffff !important;
// }
// .modal-body.modal-customm button:hover {
//   background: #ffffff;
//   color: #4048ff;
//   box-shadow: 0px 2px 6px rgb(50 55 84 / 40%) !important;
// }
// .modal-body.modal-customm form {
//   width: fit-content;
//   margin: auto;
// }
// .modal-body.modal-customm input[type="text"] {
//   height: 3rem;
//   background: #ffffff;
//   border: 1px solid #d6d6e8;
//   border-radius: 30px;
//   outline: none;
//   padding-left: 20px;
//   padding-right: 20px;
// }
// .modal-body.modal-customm input:focus {
//   outline: #4048ff;
//   box-shadow: none;
// }
// .modal-body.modal-customm h3,
// .modal-body.modal-customm p,
// .modal-body.modal-customm button {
//   margin-top: 10px;
// }
// .modal-body.modal-customm h3 {
//   background: -webkit-linear-gradient(#F52079, #4048FF);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
//   font-style: normal;
//   font-weight: bold;
//   font-size: 45.9659px ;
//   line-height: 64px ;
//   letter-spacing: 1.27683px ;
//   color: #1f2337;
// }
// .modal-body.modal-customm p {
//   font-style: normal;
//   font-weight: normal;
//   font-size: 16px;
//   line-height: 21px;
//   text-align: center;
//   letter-spacing: 0.03em;
//   color: #323754;
//   width: 100%;
//   margin-bottom: 25px;
// }
// @media (max-width: 767px) {
//   .modal-body.modal-customm h3 {
//     font-size: 27px !important ;
//   }
//   .modal-body.modal-customm p {
//     font-size: 12px !important;
//     margin-bottom: 6px !important;
//   }
//   .dont_show {
//     font-size: 10px !important;
//     margin-top: 15px !important;
//   }
//   .modal-body.modal-customm button {
//     font-size: 14px !important;
//   }
// }
.page-content .title-block {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 33px;
  letter-spacing: 0.75px;
  color: #47526a;
  padding: 4px 15px;
  background: rgba(214, 214, 232, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin-bottom: 15px;
}

/* .canV {
  position: absolute;
  bottom: 0px;
  width: 100%!important;
  height: 100%!important;
  /*border-radius: 41px;
  border-bottom-right-radius: 17px;
  border-bottom-left-radius: 35px;
}
*/

.modal-dialog {
  height: 100vh;
  margin: 0px auto;
  max-width: 1000px;
}

.modal-header.modal-customm .btn-close {
  border: none !important;
  position: absolute;
  margin: 0px;
  top: 0px;
  right: 0px;
  padding: 30px;
  max-height: 30px;
  max-width: 30px;
  box-shadow: none;
}

.modal-header.modal-customm,
.modal-body.modal-customm,
.modal-footer.modal-customm {
  border: none !important;
}

.modal-header.modal-customm {
  height: 60px;
}

.modal-body.modal-customm {
  padding: 20px 50px !important;
  text-align: center;
  position: relative;
}

.modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100% !important;
  max-width: 70vw;
  background-color: #f6f6ff !important;
  border-radius: 30px !important;
  border: none;
}

.modal-body.modal-customm button {
  padding: 10px 20px;
  border-radius: 30px;
  background: #4048ff;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #f6f6ff;
  border: none;
  width: 100%;
}

.modal-body.modal-customm .btn_later {
  background: #ffffff;
  color: #4048ff;
  box-shadow: 0px 2px 6px rgb(50 55 84 / 40%) !important;
}

.modal-body.modal-customm .btn_fill_profile:hover {
  background: linear-gradient(
    84.45deg,
    #f52079 -28.09%,
    #4048ff 78.5%
  ) !important;
  color: #ffffff !important;
}

.modal-body.modal-customm .btn_fill_profile:focus {
  background: linear-gradient(85.14deg, #f52079 -1.05%, #4048ff 103.39%);
  border: 3px solid rgba(64, 72, 255, 0.3) !important;
  color: #ffffff !important;
}

.modal-body.modal-customm button:hover {
  background: #ffffff;
  color: #4048ff;
  box-shadow: 0px 2px 6px rgb(50 55 84 / 40%) !important;
}

.modal-body.modal-customm form {
  width: fit-content;
  margin: auto;
}

.modal-body.modal-customm input[type='text'] {
  height: 3rem;
  background: #ffffff;
  border: 1px solid #d6d6e8;
  border-radius: 30px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
}

.modal-body.modal-customm input:focus {
  outline: #4048ff;
  box-shadow: none;
}

.modal-body.modal-customm h3,
.modal-body.modal-customm p,
.modal-body.modal-customm button {
  margin-top: 10px;
}

.modal-body.modal-customm h3 {
  background: -webkit-linear-gradient(#f52079, #4048ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  font-weight: bold;
  font-size: 45.9659px;
  letter-spacing: 0.764648px;
  color: #1f2337;
}

.modal-body.modal-customm p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #323754;
  width: 100%;
  margin-bottom: 25px;
}

.welcome-paragraph {
  max-width: 80%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .modal-body.modal-customm h3 {
    font-size: 27px !important;
  }
  .modal-body.modal-customm p {
    font-size: 12px !important;
    margin-bottom: 6px !important;
  }
  .dont_show {
    font-size: 10px !important;
    line-height: 120%;
    letter-spacing: 0.03em;
  }
  .modal-body.modal-customm button {
    font-size: 14px !important;
    max-width: 177px;
  }
}

.prog {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.pic-profile {
  /*height: 110px;
  width: 134px;
  top: 30px;*/
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-self: center;
}

.modal-body.modal-customm img {
  width: 130px !important;
}

.cercle {
  width: 40px;
  height: 40px;
  background: #00cc9e;
  border-radius: 50px;
  margin-left: 118px;
  margin-top: -80px;
  font-size: 14px;
  line-height: 40px;
  display: flex;
  justify-content: center;
  letter-spacing: 0.03em;
  color: #f6f6ff;
  z-index: 1;
}

.dont_show {
  font-weight: 400;
  font-size: 16px;
  color: #323754;
  margin-top: 35px;
}

///////
//////
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.welcome-body {
  max-width: 600px;
}

.white-bloc {
  width: 95%;
  border-radius: 15px;
}

.first_layer {
  z-index: 10;
  position: relative;
}

.indicatorfont {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  /* line-height: 30px; */
  letter-spacing: 0.02em;
  color: red;
}

.show_button {
  background: #f6f6ff;
  border-radius: 30px;
  height: 25px;
  border: none;
  color: rgba(64, 72, 255, 1);
  font-size: 13px;
}

.hide_button {
  background: transparent;
  border-radius: 30px;
  height: 25px;
  border: none;
  color: #f6f6ff;
  font-size: 13px;
}

.dont_show {
  font-weight: 400;
  font-size: 16px;
  color: #323754;
  margin-top: 35px;
}

.input-amount {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 48px;
  padding: 6px 11px;
  line-height: 1.57142857;
  border: none;
  font-size: 14px;
  color: #162746;
  background-color: white !important;
  border-radius: 30px;
  content: '\f002';
}

.pic_max {
  cursor: pointer;
  color: #75758f;
  padding: 0px 5px;
}

.div_input {
  border: 1px solid #d6d6e8;
  display: flex;
  padding: 0;
  border-radius: 30px;
}

#cryptoList {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 0 0 0 11px;
  width: auto;
  height: auto;
}

.wallet-flex {
  padding-left: 36px;
}

#legend {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 5px;
  margin-right: 37px;
}

.crypto-felx {
  padding-left: 36px;
}

select option {
  width: 82px;
  height: 85.85px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

#clear {
  background: transparent;
  border: none !important;
  /* margin-top: -4.8%; */
  top: -50%;
  position: relative;
}

.wallet-btn {
  background: transparent !important;
  border: none !important;
  margin-inline-start: 1em;
  float: right !important;
}

.copy_img {
  width: 16px;
}

.title-block {
  display: flex;
  flex-wrap: wrap;
  justify-items: flex-end;
  text-overflow: ellipsis;
  overflow-x: auto;
  letter-spacing: 0.75px;
  font-size: 19px;
  line-height: 33px;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  letter-spacing: 0.75px;
  font-size: 16px;
  line-height: 33px;
  color: #4048ff;
}

.title_wallet {
  justify-items: center;
}

.nowrap {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
}

#profile-tab {
  background-position: 15%;
  background-image: url('/assets/Images/Arrow_down.svg');
  background-repeat: no-repeat;
  padding-left: 25%;
  display: table-cell;
  font-style: normal;
  font-weight: bold;
  font-size: 100%;
  line-height: 22px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  width: 100%;
}

.date {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: -18px;
  color: #f5f5fe;
  font-size: 12px;
}

.blockk {
  background: linear-gradient(180deg, #4048ff 0%, #00cc9e 310.62%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  min-block-size: 135px;
  /* height: 100%; */
  background-size: cover;
  position: relative;
}

.blockk2 {
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  width: 100%;
  /* height: 100%; */
}

#home-tab {
  background-position: 23%;
  background-repeat: no-repeat;
  outline: none !important;
  padding-left: 43px;
  display: table-cell;
  font-style: normal;
  font-weight: bold;
  font-size: 100%;
  line-height: 22px;
  width: 100%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
}

*:focus {
  outline: none !important;
}

#home-tab.active {
  user-select: none;
  background-position: 24%;
  background-image: url('/assets/Images/Arrow_up.svg');
  background-repeat: no-repeat;
}

.send_Modal_Top_Margin {
  margin-top: 9px;
}

.WalletAdressBlock {
  padding-left: 24px;
}

.nav-item {
  width: 42%;
  color: #495057;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
}

#profile-tab.active {
  background-position: 15%;
  border-collapse: separate;
  border-spacing: 15px;
  background-image: url('/assets/Images/Arrow_down_blue.svg');
  background-repeat: no-repeat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  width: 100%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #4048ff;
}

/* .nav-tabs.nav{
    margin-bottom: 2em;
} */

.textplace {
  resize: none;
  background: #ffffff;
  border: 1px solid #d6d6e8;
  border-radius: 30px;
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #47526a;
  padding: 4%;
  height: 100px;
}

.form-label {
  width: 100%;
  border-radius: nullpx;
  left: 1.41%;
  right: 25.68%;
  top: 0%;
  bottom: 88.14%;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 125.9%;
  text-align: -webkit-auto;
}

.TheTab {
  margin-top: -1.7%;
  color: #75758f;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 125.9%;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  width: auto;
  height: auto;
}

.TheTab .nav-tabs .nav-item.has-animation .nav-link {
  /*animation: flashing 3s;*/
  animation: shake 0.75s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes flashing {
  0% {
    color: rgb(64, 72, 255);
  }
  20% {
    color: rgb(255, 255, 255);
  }
  40% {
    color: rgb(64, 72, 255);
  }
  60% {
    color: rgb(255, 255, 255);
  }
  80% {
    color: rgb(64, 72, 255);
  }
  100% {
    color: rgb(255, 255, 255);
  }
}

/*//pour bouton receive*/

.TheTab .nav-tabs .nav-item.has-animation2 .nav-link {
  /*animation: flashing 3s;*/
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes flashing {
  0% {
    color: rgb(64, 72, 255);
  }
  20% {
    color: rgb(255, 255, 255);
  }
  40% {
    color: rgb(64, 72, 255);
  }
  60% {
    color: rgb(255, 255, 255);
  }
  80% {
    color: rgb(64, 72, 255);
  }
  100% {
    color: rgb(255, 255, 255);
  }
}

.nav-link:focus {
  outline: none;
}

.nav-link.active {
  color: #4048ff;
  background: none;
  border: none;
  border-bottom: solid 1px #4048ff;
  width: 100%;
}

.nav-link {
  color: #adadc8;
  background: none;
  border: none;
  border-bottom: solid 1px #adadc8;
  width: 100%;
}

/* .nav-tabs {
    border-bottom: 1px solid #dee2e6;
    text-align: center;
} */

/* .nav-link{
color: #ADADC8;
border-bottom: solid 1px #dee2e6;
align-items: center;
letter-spacing: 0.02em;
} */

.amount {
  width: 100%;
  border-radius: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #47526a;
  flex: 1 1 auto;
  padding: 4%;
  position: relative;
  height: 48px;
}

textarea::placeholder {
  margin-left: 15px !important;
  margin-top: 15px !important;
}

::placeholder {
  /* Chrome */
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #adadc8;
}

#send_contact {
  width: 100%;
  left: 0px;
  border-radius: 30px;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background: #ffffff;
  border: 1px solid #d6d6e8;
  border-radius: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #47526a;
  padding: 4%;
  height: 48px;
}

#receive_contact {
  width: 100%;
  left: 0px;
  border-radius: 30px;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background: #ffffff;
  border: 1px solid #d6d6e8;
  border-radius: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #47526a;
  padding: 4%;
  height: 48px;
}

::ng-deep .form-select {
  -webkit-appearance: none;
  width: 100%;
  left: 0px;
  top: 25.641845703125px;
  border-radius: 30px;
  background-image: url('/assets/Images/Arrow_devise.svg');
  background-size: 15px;
  background-position: 95%;
  /*padding: 3% ;*/
  height: 48px;
}

.block-myWallet {
  font-style: normal;
  font-weight: normal;
  line-height: 33px;
  color: #47526a;
  background: rgba(214, 214, 232, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.title-myWallet {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.75px;
  color: #47526a;
}

.myWallet-value {
  text-overflow: ellipsis;
  overflow-x: auto;
  white-space: nowrap;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.75px;
  color: #4048ff;
}

.myWallet-btn {
  background: transparent !important;
  border: none !important;
  margin-inline-start: 1em;
}

/* end input password*/

.gaz {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

#send_password {
  width: 100%;
  left: 0px;
  border-radius: 30px;
  background-image: url('/assets/Images/Kep-password.svg');
  background-repeat: no-repeat;
  background-position: 1%;
  background-size: 32px;
  padding: 4% 27%;
}

.send_button {
  width: 100%;
  padding: 2%;
  border-radius: 30px;
  border: none;
  background: #4048ff;
  height: 64px;
}

.walletEstim {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  position: relative;
  left: 7px;
  top: 9px;
}

.left_margin {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 33px;
  white-space: nowrap;
  letter-spacing: 0.75px;
  color: #47526a;
}

.walletTotal {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 110%;
  color: #ffffff;
}

.send_word {
  height: 24.83251953125px;
  width: auto;
  top: 18.16748046875px;
  border-radius: nullpx;
  color: #f6f6ff;
  font-size: 22px;
  line-height: 26px;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.03em;
  align-items: center;
}

.receive_button {
  border: none;
  height: 64px;
  width: 100%;
  border-radius: 30px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  color: #f6f6ff;
  background: #00cc9e;
  border-radius: 30px;
}

.receive_word {
  height: 24.83251953125px;
  width: auto;
  top: 18.16748046875px;
  border-radius: nullpx;
  color: #f6f6ff;
  font-size: 22px;
  line-height: 26px;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.03em;
  align-items: center;
}

.block_montant_satt {
  height: auto;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  width: auto;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

.div_input.amount-in-usd::after {
  content: attr(data-after);
  white-space: nowrap;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50%;
  /* display: none; */
}

.montant_style {
  margin-top: 4%;
  margin-left: 3%;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 25px;
  letter-spacing: 1px;
  color: #1f2337;
}

.montant_style1 {
  margin-top: 0%;
  margin-left: 110%;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 1px;
  color: #1f2337;
}

.montant_style2 {
  margin-top: 1%;
  margin-left: 7%;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 25px;
  letter-spacing: 1px;
  color: #1f2337;
}

.cancel_inheritance {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

#wellet-id {
  color: rgba(64, 72, 255, 1);
  padding-left: 0.5em;
}

.error_background {
  background-color: #f7031c56;
}

.send_fit {
  margin-left: -63%;
}

.receive_fit {
  margin-right: -63%;
}

.wrong_password {
  color: red;
}

.maxbutton {
  float: right;
  /* margin-top: -25px; */
  width: 3.5vw;
}

.SaTTv {
  width: 100%;
  padding: 18px 0;
}

.block_height {
  height: auto;
}

.padding {
  padding-top: 20px;
}

.marging_left {
  margin-left: 2%;
}

.hidedescktop {
  visibility: hidden;
}

.showdescktop {
  visibility: visible;
}

@media (max-width: 767px) and (min-width: 0px) {
  .block-create-campaign {
    margin: 0 auto;
  }
  .wallet {
    padding: 0px !important;
    /* overflow-x: hidden;
    overflow-y: auto; */
  }
  .blockk {
    border-radius: 0px !important;
  }
  .canV {
    display: none !important;
  }
  #legend {
    display: none !important;
  }
  .hidemobile {
    visibility: hidden;
  }
  .showmobile {
    visibility: visible;
  }
  .show_button {
    background: #f6f6ff;
    border-radius: 30px;
    height: 25px;
    border: none;
    color: rgba(64, 72, 255, 1);
    font-size: 10px;
    padding-left: 5px;
  }
  .hide_button {
    background: transparent;
    border-radius: 30px;
    height: 25px;
    border: none;
    color: #f6f6ff;
    font-size: 10px;
  }
  .blockk2 {
    position: relative;
    width: 100%;
  }
  :host {
    position: inherit;
  }
  .left_margin {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
  }
  .walletEstim {
    font-style: normal;
    font-weight: 600;
    font-size: 4vw;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    position: relative;
    top: 23px;
  }
  .maxbutton {
    float: right;
    /* margin-top: -25px; */
    width: 10vw;
  }
  .walletTotal {
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 110%;
    color: #ffffff;
    align-items: center;
    text-align: center;
    position: relative;
    top: 23px;
  }
  .indicatorfont {
    font-size: 14px;
  }
  #legend {
    z-index: 1;
    position: absolute;
    right: -14px;
    top: 5px;
    margin-right: 37px;
  }
}

/*////////////////////cryptoliste /////*/

.img-filter-icon {
  border-radius: 50%;
  box-shadow: 0px 2px 2px 0px #8b8686;
  padding: 7px;
  margin-left: 32%;
}

.imgwidth {
  width: 2.5vw;
  margin-top: 9%;
  margin-bottom: 15%;
}

/*
  margin-top: 9%;
  margin-bottom: 15%;
*/

table {
  height: 100%;
  width: 100%;
  text-align: justify;
}

.fa {
  /* font-size: 12px; */
  font-size: 19px;
}

table > tr {
  height: 70px;
}

table > th {
  width: 20%;
}

.thFont {
  font-style: normal;
  font-weight: bold;
  font-size: 1vw;
  line-height: 125.9%;
  letter-spacing: 0.03em;
  color: #75758f;
}

.TableFont {
  color: #75758f;
}

.Icons {
  /* height: 2.5vw; */
  width: 2.5vw;
}

.CryptoID {
  text-align: justify;
}

.totalFont {
  letter-spacing: 0.03em;
  font-size: 1vw;
  text-align: end;
}

/*.IconsName1 {
  margin-top: 4px;
  font-style: normal;
  font-weight: normal;
  color: #75758F;
  font-size: 20px;
}*tocryptoundername*/

.center {
  text-align: center;
}

/*******************************/

.Cryptoname {
  font-style: normal;
  font-weight: bold;
  font-size: 1vw;
  line-height: 11px;
  letter-spacing: 0.03em;
  color: #1f2337;
}

.CryptoUNDERname {
  font-style: normal;
  font-weight: normal;
  font-size: 0.7vw;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #75758f;
}

.cryptoprice {
  left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  line-height: 6px;
  text-align: start;
  letter-spacing: 0.03em;
  color: #1f2337;
}

.cryptoQTE {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #162746;
}

.tight {
  width: 20%;
  white-space: nowrap;
}

/*******************************/

.textalignEnd {
  text-align: end;
}

.textalignCenter {
  text-align: center;
}

.indicatorfont {
  font-size: 18px;
}

/* .arrow {
    margin: 7px;
    margin-bottom: -12px;
    display: flex;
    justify-content: flex-end;
} */

.indicatorposition {
  position: relative;
  left: 42px;
  width: auto;
}

/*tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  padding: 14px 0px;
} */

/*----------------------------------- Small devices (landscape phones, 576px and up)---------------------------------- */

@media (max-width: 320px) {
  .page-content {
    padding: 2em 0;
  }
  .blockk {
    margin-right: 60px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .indicatorfont {
    font-size: 4vw;
  }
  .Cryptoname {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.03em;
    color: #1f2337;
  }
  .CryptoUNDERname {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #75758f;
  }
  .cryptoprice {
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 10px;
    text-align: start;
    letter-spacing: 0.03em;
    color: #1f2337;
  }
  .cryptoQTEx {
    font-weight: 400;
    font-size: 14px;
  }
  .imgwidth2 {
    width: 120%;
    margin-left: 11%;
  }
  .imgwidth3 {
    width: 120%;
    margin-left: -387%;
  }
  .imgwidth4 {
    width: 122%;
    margin-left: -341%;
  }
  .Icons {
    height: 39px;
    width: 30px;
  }
}

@media (min-width: 426px) and (max-width: 766px) {
  .indicatorfont {
    font-size: 4vw;
  }
  .Icons {
    width: 30px;
    height: fit-content;
  }
  .imgwidth2 {
    width: 122%;
    margin-left: -11%;
  }
  .imgwidth3 {
    width: 120%;
    margin-left: -475%;
  }
  .imgwidth4 {
    width: 122%;
    margin-left: -396%;
  }
  .cryptoprice {
    left: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 1vw;
    line-height: 6px;
    text-align: start;
    letter-spacing: 0.03em;
    color: #1f2337;
  }
}

.mb-5 {
  margin-bottom: 50rem !important;
}

@media (min-width: 150px) and (max-width: 397px) {
  .indicatorfont {
    font-size: 4vw;
  }
  .img-filter-icon {
    border-radius: 50%;
    box-shadow: 0px 2px 2px 0px #8b8686;
    padding: 7px;
    margin-left: -11%;
  }
}

@media (min-width: 1080.1px) and (max-width: 1200px) {
  .canV {
    position: absolute;
    bottom: 0px;
    width: 101.3% !important;
    height: 100% !important;
    border-radius: 41px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 32px;
    left: -1.3% !important;
  }
}

@media (min-width: 1200.1px) and (max-width: 1400px) {
  .canV {
    position: absolute;
    bottom: 0px;
    width: 101.2% !important;
    height: 100% !important;
    border-radius: 41px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 32px;
    left: -1.1% !important;
  }
}

@media (min-width: 1400.1px) and (max-width: 1690px) {
  .canV {
    position: absolute;
    bottom: 0px;
    width: 101% !important;
    height: 100% !important;
    border-radius: 41px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 32px;
    left: -0.89% !important;
  }
}

@media (min-width: 1690.1px) {
  .canV {
    position: absolute;
    bottom: 0px;
    width: 100.7% !important;
    height: 100% !important;
    border-radius: 41px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 32px;
    left: -0.7% !important;
  }
}

@media (min-width: 767px) and (max-width: 820px) {
  .canV {
    position: absolute;
    bottom: 0px;
    bottom: 0px;
    width: 102.1% !important;
    height: 100% !important;
    border-radius: 41px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 32px;
    left: -2.1% !important;
  }
}

@media (min-width: 820.1px) and (max-width: 982px) {
  .canV {
    position: absolute;
    bottom: 0px;
    bottom: 0px;
    width: 101.7% !important;
    height: 100% !important;
    border-radius: 41px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 32px;
    left: -1.79% !important;
  }
}

@media (min-width: 982.1px) and (max-width: 1080px) {
  .canV {
    position: absolute;
    bottom: 0px;
    bottom: 0px;
    width: 101.3% !important;
    height: 100% !important;
    border-radius: 41px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 32px;
    left: -1.3% !important;
  }
  .walletEstim {
    font-size: 13px;
  }
  /* .indicatorfont{
  font-size: 1.3vw;
} */
  .show_button {
    background: #f6f6ff;
    border-radius: 50px;
    height: 25px;
    border: none;
    color: rgba(64, 72, 255, 1);
    font-size: 13px;
    padding-left: 5px;
  }
  .hide_button {
    background: transparent;
    border-radius: 30px;
    height: 25px;
    border: none;
    color: #f6f6ff;
    font-size: 13px;
  }
  #legend {
    top: 10px;
    margin-right: 30px;
  }
}

@media (min-width: 767px) and (max-width: 990px) {
  .imgwidth {
    width: 27px !important;
  }
  .thFont[_ngcontent-csp-c115] {
    font-style: normal;
    font-weight: bold;
    font-size: 16px !important;
    line-height: 125.9%;
    letter-spacing: 0.03em;
    color: #75758f;
  }
  .tight {
    width: 20%;
    white-space: nowrap;
    font-size: 16px;
  }
  .Icons {
    width: 30px;
  }
  .Cryptoname {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #1f2337;
    margin-top: 17%;
  }
  .CryptoUNDERname {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #75758f;
  }
  .cryptoprice {
    left: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;
    line-height: 0px;
    text-align: start;
    letter-spacing: 0.03em;
    color: #1f2337;
  }
  .cryptoQTEx {
    font-weight: 400;
    font-size: 2vw !important;
    letter-spacing: 0.03em;
  }
  .textalignStart {
    font-size: 1.8vw !important;
  }
}

/*//fin*/

/*//////////////////////!*SCROLL**!//////////////////*/

/*//hover*/

.send_button,
.send_button:active {
  color: #f6f6ff;
  background: #4048ff;
  border: 0px;
}

.send_button:hover {
  background: linear-gradient(85.14deg, #f52079 -1.05%, #4048ff 103.39%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* animation: rotate 1s ease-in-out 0s; */
}

.send_button:focus {
  background: linear-gradient(85.14deg, #f52079 -1.05%, #4048ff 103.39%);
  box-shadow: 0 0 0 6px #7f84ff;
}

.receive_button,
.receive_button:active {
  border: none;
  height: 64px;
  width: 100%;
  border-radius: 30px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  color: #f6f6ff;
  background: #00cc9e;
  border-radius: 30px;
}

.receive_button:hover {
  background: #009775;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.receive_button:focus {
  background: #009775;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

/* ::ng-deep.swal2-styled.swal2-confirm {
    border-radius: 30px !important;
    width: 32% !important;
    margin-bottom: 4% !important;
}

::ng-deep.swal2-popup {
    border-radius: 30px !important;
    bottom: 2px;
    left: 30px;
} */

/* ::ng-deep.modal-content {
    max-width: 424px !important;
    max-height: 597px !important;
} */

@media (max-width: 575.98px) {
  /* ::ng-deep .modal-content {
      width: 285px !important;
      max-height: max-content !important;
  } */
}

@media only screen and (width: 640px) and (height: 360px) {
  ::ng-deep .modal-dialog {
    height: 144vh !important;
  }
}

.page-content .title-block {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 33px;
  letter-spacing: 0.75px;
  color: #47526a;
  padding: 4px 15px;
  background: rgba(214, 214, 232, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin-bottom: 15px;
}

/* .canV {
    position: absolute;
    bottom: 0px;
    width: 100%!important;
    height: 100%!important;
    /*border-radius: 41px;
    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 35px;
}
  */

.modal-dialog {
  height: 100vh;
  margin: 0px auto;
  max-width: 1000px;
}

.modal-header.modal-customm .btn-close {
  border: none !important;
  position: absolute;
  margin: 0px;
  top: 0px;
  right: 0px;
  padding: 30px;
  max-height: 30px;
  max-width: 30px;
  box-shadow: none;
}

.modal-header.modal-customm,
.modal-body.modal-customm,
.modal-footer.modal-customm {
  border: none !important;
}

.modal-header.modal-customm {
  height: 60px;
}

.modal-body.modal-customm {
  padding: 20px 50px !important;
  text-align: center;
  position: relative;
}

.modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100% !important;
  max-width: 70vw;
  background-color: #f6f6ff !important;
  border-radius: 30px !important;
  border: none;
}

.modal-body.modal-customm button {
  padding: 10px 20px;
  border-radius: 30px;
  background: #4048ff;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #f6f6ff;
  border: none;
  width: 100%;
}

.modal-body.modal-customm .btn_later {
  background: #ffffff;
  color: #4048ff;
  box-shadow: 0px 2px 6px rgb(50 55 84 / 40%) !important;
}

.modal-body.modal-customm .btn_fill_profile:hover {
  background: linear-gradient(
    84.45deg,
    #f52079 -28.09%,
    #4048ff 78.5%
  ) !important;
  color: #ffffff !important;
}

.modal-body.modal-customm button:hover {
  background: #ffffff;
  color: #4048ff;
  box-shadow: 0px 2px 6px rgb(50 55 84 / 40%) !important;
}

.modal-body.modal-customm form {
  width: fit-content;
  margin: auto;
}

.modal-body.modal-customm input[type='text'] {
  height: 3rem;
  background: #ffffff;
  border: 1px solid #d6d6e8;
  border-radius: 30px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
}

.modal-body.modal-customm input:focus {
  outline: #4048ff;
  box-shadow: none;
}

.modal-body.modal-customm h3,
.modal-body.modal-customm p,
.modal-body.modal-customm button {
  margin-top: 10px;
}

.modal-body.modal-customm h3 {
  background: -webkit-linear-gradient(#f52079, #4048ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  font-weight: bold;
  font-size: 45.9659px;
  line-height: 64px;
  letter-spacing: 1.27683px;
  color: #1f2337;
}

.modal-body.modal-customm p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #323754;
  width: 100%;
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .modal-body.modal-customm h3 {
    font-size: 27px !important;
  }
  .modal-body.modal-customm p {
    font-size: 12px !important;
    margin-bottom: 6px !important;
  }
  .dont_show {
    font-size: 10px !important;
    margin-top: 15px !important;
  }
  .modal-body.modal-customm button {
    font-size: 14px !important;
  }
}

.pic-profile {
  /*height: 110px;
  width: 134px;
  top: 30px;*/
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-self: center;
}

.modal-body.modal-customm img {
  width: 130px !important;
}

.prog {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.cercle {
  width: 40px;
  height: 40px;
  background: #00cc9e;
  border-radius: 50px;
  margin-left: 118px;
  margin-top: -80px;
  font-size: 14px;
  line-height: 40px;
  display: flex;
  justify-content: center;
  letter-spacing: 0.03em;
  color: #f6f6ff;
  z-index: 1;
}

.div_red {
  background-color: #e4000b;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 106px;
  width: 100%;
  position: relative;
}

.div_red_text {
  color: #f6f6ff;
  font-weight: 700;
  font-style: normal;
  /* height: 64px; */
  width: 52%;
  font-size: 16px;
  background: transparent;
  border: none;
}

.icon-close {
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  width: 16px;
  margin: 15px;
}

@media (max-width: 500px) {
  .div_red_text {
    font-weight: 600 !important;
    font-size: 12px !important;
    letter-spacing: 0px !important;
  }
}

@media (min-width: 768px) {
  .div_red {
    border-radius: 21px !important;
  }
  .div_red_pic {
    margin-left: 1rem !important;
  }
  .showMobile {
    display: none !important;
  }
  .showDesktop {
    display: block !important;
  }
}

.showMobile {
  display: block;
}

.showDesktop {
  display: none;
}

@media (min-width: 992px) {
  .div_red_btn {
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #4048ff;
    border-radius: 30px;
    background-color: white;
    border: none;
    text-align: center;
    box-shadow: 0px 4px 4px 0px #00000040;
    height: 50px;
    /* width: 199px; */
    width: 175px;
    cursor: pointer;
    position: absolute;
    right: 57px;
  }
  .div_red_btn:hover {
    border: 2px solid #0009d3;
    box-shadow: none;
  }
  .div_red_btn:focus {
    border: 2px solid #d6d6e8;
    box-shadow: none;
  }
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
  .div_red_text {
    font-size: 14px !important;
  }
}

::ng-deep iframe {
  opacity: 1 !important;
}

.welcome-body {
  max-width: 600px;
}
