<app-header-social-registartion> </app-header-social-registartion>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-5 col-lg-5 col-md-5">
      <app-left-component></app-left-component>
    </div>
    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 padding-top margin-bottom">
      <div class="row d-flex justify-content-center">
        <div
          class="col-xl-8 col-lg-10 col-md-11 col-sm-8 d-flex justify-content-start"
        >
          <app-monetize-steps></app-monetize-steps>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <div
          class="col-xl-8 col-lg-10 col-md-11 col-sm-6 mt-lg-5 mt-sm-0 mt-xs-0 make-center"
        >
          <span class="title_page">{{ 'pwd_downald' | translate }}</span>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-4">
        <div
          class="col-xl-8 col-lg-10 col-md-11 col-sm-8 flex-column make-center"
        >
          <p class="white-mobile-version">{{ 'json_text' | translate }}</p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col d-flex justify-content-center">
          <div class="col-xl-8 col-lg-10 col-md-12 col-sm-8 margin-left">
            <form [formGroup]="formExportData">
              <div class="">
                <div class="">
                  <label class="label_input pl-4">
                    {{ 'Mot de passe de transaction' | translate }}</label
                  >
                </div>

                <div class="col-xl-8 col-lg-9 col-md-8 col-sm-12">
                  <div class="div_input_add position-relative">
                    <img
                      class="ps-1 position-absolute align-self-center"
                      src="/assets/Images/green-key-password.svg"
                    />
                    <input
                      type="password"
                      name="password"
                      formControlName="password"
                      class="input_oeil"
                      #password_field
                      [ngClass]="{
                        errorMsg2:
                          this.formExportData.get('password')?.errors
                            ?.checkPassword
                      }"
                    />
                  </div>

                  <span
                    (click)="
                      password_field.type =
                        password_field.type == 'password' ? 'text' : 'password'
                    "
                    class="fa fa-fw cross_input_network align-self-center"
                    aria-hidden="true"
                    [ngClass]="
                      password_field.type === 'password'
                        ? ' fa-eye-slash '
                        : ' fa-eye'
                    "
                  ></span>
                </div>
                <div class="col-12 d-flex justify-content-start pt-2 mb-xs-3">
                  <span
                    class="error-msg"
                    *ngIf="
                      this.formExportData.get('password')?.errors?.checkPassword
                    "
                    >{{ 'Profil.pass_wrong' | translate }}</span
                  >
                </div>
                <div
                  class="col-xl-8 col-lg-9 col-md-8 col-sm-12 mt-lg-5 mt-sm-5 mt-xs-3"
                >
                  <button
                    type="submit"
                    class="div-connect-fb"
                    [disabled]="this.formExportData.invalid"
                    (click)="confirmExport()"
                  >
                    <span *ngIf="!this.showSpinner">
                      {{ 'Continue' | translate }}
                      <!-- <img class="ms-2" src="/assets/Images/flech.svg"
                    /> -->
                    </span>
                    <div
                      *ngIf="this.showSpinner"
                      class="spinner-border text-light"
                      role="status"
                    >
                      <span class="sr-only">Loading...</span>
                    </div>
                  </button>
                </div>
              </div>

              <!-- 
                        <div class="mt-3 mb-2 display-flex">

                            <button type="submit" class="div-connect-fb" [disabled]="this.formExportData.invalid" (click)="confirmExport()">
                          {{ "Télécharger le fichier JSON" | translate }}
                        </button>
                        </div> -->
              <!-- 
            <div class="row d-flex mt-5">

            </div> -->
            </form>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-3">
        <div class="col-xl-8 col-lg-10 col-md-11 col-sm-8 top-10 display-flex">
          <a
            class="skip-page"
            [routerLink]="['/social-registration/activePass']"
            >{{ 'downald_next' | translate }}></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer-social-registartion></app-footer-social-registartion>
