<header class="header-set-lang">
  <div class="row">
    <img
      (click)="onGoToHome()"
      src="/assets/Images/logo_satt.svg"
      class="logo_satt_show"
      alt="logo"
    />
    <img
      (click)="onGoToHome()"
      src="/assets/Images/satt_logo_white.svg"
      class="logo_satt_showMob"
      alt="logo"
    />
    <div class="dropdown">
      <button class="btn btntoggle btn_create" (click)="goToRegistration()">
        {{ 'creer_un_compte' | translate }}
      </button>
      <!--data-toggle="dropdown"-->
      <button
        class="btn btntoggle dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle=""
        aria-haspopup="true"
        aria-expanded="false"
      >
        <span *ngIf="languageSelected === 'en'"> En </span>
        <span *ngIf="languageSelected === 'fr'"> Fr</span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li
          *ngFor="
            let language of translate.getLangs();
            trackBy: trackByLanguage
          "
        >
          <a (click)="switchLang(language)" class="lang-select">
            <span *ngIf="language === 'en'" class="lang-en">En </span>
            <span *ngIf="language === 'fr'" class="lang-fr"> Fr </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
