<app-header-social-registartion> </app-header-social-registartion>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-5 col-lg-5 col-md-5">
      <app-left-component></app-left-component>
    </div>
    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 padding-top margin-bottom">
      <div class="row d-flex justify-content-center">
        <div
          class="
            col-xl-8 col-lg-10 col-md-11 col-sm-8
            d-flex
            justify-content-start
          "
        >
          <app-monetize-steps></app-monetize-steps>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div
          class="
            col-xl-8 col-lg-10 col-md-11 col-sm-8
            d-flex
            justify-content-start
            padding-top-top
          "
        >
          <span class="title_page mt-3">{{ 'needtoknow' | translate }}</span>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-3">
        <div
          class="
            text-container
            col-xl-8 col-lg-10 col-md-11 col-sm-8
            d-flex
            justify-content-start
            align-content-start
            flex-column
            mt-2
          "
        >
          <p class="drak-gray_text">
            {{ 'pwd_text_this' | translate }}
            <strong>{{ 'pwd_text_transaction_pwd' | translate }}</strong>
            {{ 'pwd_text_transaction_pwd2' | translate }}
          </p>
          <div class="nobr">
            <p class="drak-gray_text">
              {{ 'pwd_text_second' | translate }}
            </p>
            <p class="drak-gray_text">
              <strong
                ><u>
                  {{ 'pwd_text_pass' | translate }}
                  {{ 'pwd_text_cannot' | translate }}
                  {{ 'pwd_text_reset' | translate }}</u
                ></strong
              >
            </p>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-3">
        <div class="col-xl-8 col-lg-10 col-md-11 col-sm-8">
          <form [formGroup]="confirmForm" (ngSubmit)="onSumbit()">
            <div class="">
              <input
                class="form-check-input"
                type="checkbox"
                value="confirm1"
                id="flexCheckDefault"
                formControlName="agreeBox1"
                name="agreeBox1"
                (change)="onCheckboxChange($event, 'agreeBox1')"
              />
              <label class="form-check-label">
                <p class="dark_text checkbox-label">
                  {{ 'pwd_text2' | translate }}
                </p>
              </label>
            </div>
            <div class="">
              <input
                class="form-check-input"
                type="checkbox"
                value="confirm2"
                id="flexCheckDefault2"
                formControlName="agreeBox2"
                name="agreeBox2"
                (change)="onCheckboxChange($event, 'agreeBox2')"
              />
              <label class="form-check-label checkbox-label">
                <p class="drak-gray_text checkbox-label">
                  {{ 'pwd_text3' | translate }}
                </p>
              </label>
            </div>
            <div class="">
              <input
                class="form-check-input"
                type="checkbox"
                value="confirm3"
                id="flexCheckDefault3"
                formControlName="agreeBox3"
                name="agreeBox3"
                (change)="onCheckboxChange($event, 'agreeBox3')"
              />
              <label class="checkbox_c checkbox-label">
                <span class="me-1 drak-gray_text checkbox-label"
                  >{{ 'CheckBoc_confidential' | translate }}
                  <a
                    [routerLink]="['/cgu']"
                    target="_blank"
                    class="text-link"
                    >{{ 'CheckBoc_confidential2' | translate }}</a
                  >
                  {{ 'faq_And' | translate }}
                  <a
                    [routerLink]="['/privacy-policy']"
                    target="_blank"
                    class="text-link ms-1"
                    >{{ 'CheckBoc-confidential' | translate }}</a
                  >
                </span>
              </label>

              <!-- <label class="form-check-label" for="flexCheckDefault3">
                                <p class="drak-gray_text">{{ "pwd_text4" | translate }}</p>
                            </label> -->
            </div>
            <div class="display-flex">
              <button
                type="submit"
                class="btn-green"
                [disabled]="confirmForm.invalid"
              >
                {{ 'understood' | translate }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer-social-registartion></app-footer-social-registartion>
