/* :host {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.margin-bottom {
    margin-bottom: 70px;
}

:host {
    background-color: #ffffff;
    min-height: 100vh;
    max-width: 100vw;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden !important;
    position: relative;
}

@media (min-width: 767.98px) {
    .padding-top {
        /* padding-top: 55px; */
        padding-top: 70px;
    }
    .padding-top-top {
        padding-top: 31px;
    }
}

@media (max-width: 767.98px) {
    .text-container {
        justify-content: center !important;
        align-items: center !important;
    }
    .top-10 {
        margin-top: 0 !important;
    }
    .margin-bottom {
        margin-bottom: 0 !important;
    }
    .drak-gray_text {
        text-align: center;
    }
    .dark_text {
        text-align: start;
    }
    .title_page {
        font-family: Poppins !important;
        font-style: normal !important;
        font-weight: bold !important;
        font-size: 27px !important;
        line-height: 110% !important;
        text-align: center !important;
        color: #ffffff;
    }
     :host {
        /* background-image: url('assets/Images/backgrounds/bgdPinkBlue.svg'); 
        background-size: cover;
        background-repeat: no-repeat;*/
        background: linear-gradient(14deg, #f52079 2%, #001c59 71%);
        min-height: 100vh;
        max-width: 100vw;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        align-items: center;
        justify-content: center;
    }
    .btn-green {
        width: 300px !important;
    }
    /* .padding-top {
        padding-top: 80px !important;
    } */
    .div-connect-fb {
        width: 300px !important;
    }
    .skip-page,
    .drak-gray_text,
    .dark_text,
    .title_page {
        color: white !important;
    }
    .show-mobile {
        display: block !important;
    }
    .make-center {
        text-align: center !important;
    }
    .display-flex {
        justify-content: center;
        display: flex;
    }
    .text-link {
        color: white !important;
        text-decoration: underline !important;
    }
}

@media (max-width: 575.98px) {
    .title_page {
        font-size: 28px !important;
        line-height: 30px !important;
    }
}

.title_page {
    /* H1 */
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 110%;
    /* or 44px */
    /* dark */
    color: #1f2337;
}

.drak-gray_text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #323754;
}

.checkbox-label {
    margin-left: 1.5rem;
    margin-bottom: 3rem;
}

.margin-bottom {
    margin-bottom: 2rem;
}

.login_img {
    cursor: pointer;
}

.div-connect-fb {
    background: #1877f2;
    border: 1.63449px solid #4048ff;
    border-radius: 50px;
    height: 52px;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 396px;
    text-align: center;
}

.white-text-span {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    color: #ffffff;
}

.skip-page {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    color: #4048ff;
    text-decoration: none;
}

a:not([href]):not([tabindex]) {
    color: #4048ff;
}

.top-10 {
    margin-top: 10vh;
}


/* .center{
    position: relative;
    left: -40px
} */

.show-mobile {
    display: none;
}

.btn-green:disabled {
    background-color: #f6f6ff;
    color: #adadc8;
    border: 1px solid #d6d6e8;
    box-shadow: none;
}

.btn-green {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 48.4px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    color: #f6f6ff;
    background: #00cc9e;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 292px;
    height: 48px;
}


/*---CSS green checkbox----*/

input[type='checkbox'][type='checkbox']:checked+label::before {
    content: '\002714';
    color: #ffffff;
    background-color: #00cc9e;
    border: 3px solid #00cc9e;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type='checkbox'] {
    cursor: pointer;
    opacity: 0;
    left: 30px;
    z-index: 1;
}

input[type='checkbox']+label {
    display: flex;
    /* align-items: center; */
    margin: 0px;
}

input[type='checkbox']+label::before {
    content: '';
    max-height: 1em;
    width: 1em;
    height: 1em;
    max-width: 1em;
    border-radius: 5px;
    /* margin-right: 0.5em; */
    border: 3px solid #d6d6e8;
    /* padding: 0px; */
    /* margin: 10px 15px 4px 0px; */
    display: grid;
    position: absolute;
}


/*---END CSS green checkbox----*/

.text-link {
    color: #4048ff;
    text-decoration: none;
}