<div class="text-popup">
  <p class="text-moonboy d-flex flex-column align-items-center">
    <span>{{ 'you-need-help' | translate }}</span>
    <span>{{ 'Read-our-FAQ-about' | translate }}</span
    ><a class="router-text" routerLink="/FAQ">
      {{ 'How-to-Tokens' | translate: { action: this.pageName } }} ></a
    >
  </p>
  <span class="dialog-point"></span>
</div>
<div class="img-wrapper">
  <img
    src="assets/Images/moonboy/new-moonboy-help.svg"
    class="picture-moonboy"
  />
</div>
