<div class="row flex-column">
  <div>
    <app-header-send-receive-buy
      [title]="'Buy'"
      class="buy-component"
      (clickedBack)="linstingBack($event)"
    ></app-header-send-receive-buy>
  </div>
  <div class="row white-bloc justify-content-center">
    <!--------------------AmountBloc----------------------------------->
    <div class="div-content d-flex flex-column align-items-center">
      <div class="text-center">
        <img src="assets/Images/moonboy/moonBoyBuy.svg" />
      </div>
      <div class="d-flex flex-column text-center mt-4">
        <label class="requestion-text"
          >{{ 'You-re-about-to-buy' | translate }}:</label
        >
        <h3 class="black-text mt-2">{{ amount }} {{ currency }}</h3>
        <h3 class="hard-gray-text">
          ≈ {{ cryptoAmount }}
          {{ crypto === 'SATT-SC' ? 'SATT' : crypto }}
        </h3>
      </div>
      <div class="mt-5">
        <div class="d-flex justify-content-center col-12">
          <ng-container>
            <form
              ngNoForm
              id="payment_form"
              target="_blank"
              [action]="simplex_url"
              method="post"
            >
              <input type="hidden" name="version" value="1" />
              <input type="hidden" name="partner" value="satt" />
              <input type="hidden" name="payment_flow_type" value="wallet" />
              <input
                type="hidden"
                name="return_url_success"
                [value]="domain_name + '/wallet/success'"
              />

              <input
                type="hidden"
                name="return_url_fail"
                [value]="domain_name + '/wallet/fail'"
              />
              <input type="hidden" name="payment_id" [value]="payementId" />
            </form>
            <button type="submit" form="payment_form" class="blue-btn">
              Continue with Simplex
            </button>
          </ng-container>
        </div>
      </div>
    </div>
    <div
      class="showMobile div-footer-mobile d-none d-xl-none d-lg-none d-md-none d-sm-block d-xs-block p-0"
    >
      <div class="div-pic-text">
        <div class="">
          <p class="text-moonboy d-flex flex-column">
            <span>{{ 'you-need-help' | translate }}</span>
            <span>{{ 'Read-our-FAQ-about' | translate }}</span
            ><a class="router-text" [routerLink]="['/FAQ']">
              {{ 'How-to-Tokens' | translate: { action: 'Buy' } }} ></a
            >
          </p>
        </div>
        <img
          src="assets/Images/moonboy/moonboy-help.svg"
          class="picture-moonboy"
        />
      </div>
    </div>
  </div>
</div>
<div
  class="d-block d-xl-block d-lg-block d-md-block d-sm-none d-xs-none div-footer"
>
  <app-footer-send-receive-buy [pageName]="'Buy'"></app-footer-send-receive-buy>
</div>
