<app-header-social-registartion> </app-header-social-registartion>
<div class="container-fluid">
  <div class="row">
    <div class="col-xl-5 col-lg-5 col-md-5">
      <app-left-component></app-left-component>
    </div>
    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 padding-top margin-bottom">
      <div class="row d-flex justify-content-center">
        <div
          class="col-xl-8 col-lg-10 col-md-11 col-sm-8 d-flex justify-content-start"
        >
          <app-monetize-steps></app-monetize-steps>
        </div>
      </div>
      <div class="row d-flex justify-content-center padding-top-top">
        <div class="col-xl-8 col-lg-10 col-md-11 col-sm-8 make-center mt-2">
          <span class="title_page">{{
            'monetize-your-linkedin-account' | translate
          }}</span>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-2">
        <div class="col-sm-8 show-mobile text-center">
          <img
            class="height-pic"
            width="150px"
            src="/assets/Images/linkedin-left.png"
          />
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-3">
        <div class="col-xl-8 col-lg-10 col-md-11 col-sm-8 make-center">
          <p class="drak-gray_text">
            {{ 'activate-oracle-linkedin-text1' | translate }}
          </p>
          <p class="drak-gray_text mb-0">
            {{ 'activate-oracle-linkedin-text2' | translate }}
          </p>
          <!-- <p class="drak-gray_text">
            {{ 'activate-oracle-linkedin-text3' | translate }}
          </p> -->
        </div>
      </div>
      <div
        class="row d-flex justify-content-center margin-top-btn"
        *ngIf="channelLinkedin?.length === 0"
      >
        <div
          class="col-xl-8 col-lg-10 col-md-11 col-sm-8 d-flex justify-content-center"
        >
          <div
            class="mb-0 div-connect-linkedin position-relative login_img"
            (click)="linkAccount()"
          >
            <img
              src="./assets/Images/Linkedin.png"
              class="icon-google"
              width="35px"
            />
            <span class="d-flex align-self-center gray-text-span ms-3">
              {{ 'add-linkedin-account' | translate }}</span
            >
          </div>
        </div>
      </div>
      <div
        class="row d-flex justify-content-center margin-top-btn"
        *ngIf="channelLinkedin?.length !== 0"
      >
        <div
          class="col-xl-8 col-lg-10 col-md-11 col-sm-8 d-flex justify-content-center"
        >
          <div
            class="mb-0 div-connect-linkedin position-relative login_img disabled"
            (click)="deleteLink()"
          >
            <img
              src="./assets/Images/icon-linkedin-dark-gray.svg"
              class="icon-google"
              width="30px"
            />
            <span class="d-flex align-self-center ms-3">
              {{ 'add-linkedin-account' | translate }}
            </span>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center mt-2">
        <div class="col-xl-8 col-lg-10 col-md-11 col-sm-8 make-center">
          <span *ngIf="errorMessage" class="error-message">{{
            errorMessage | translate
          }}</span>
          <span class="successLink" *ngIf="successMessage">{{
            successMessage | translate
          }}</span>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <div
          class="col-xl-8 col-lg-10 col-md-11 col-sm-8 top-10 make-center text-center"
        >
          <a
            class="skip-page skip-page2"
            (click)="skipPage()"
            *ngIf="channelLinkedin?.length === 0"
            >{{ 'skip-network' | translate: { network: 'Linkedin' } }} Pro</a
          >
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <div
          class="col-xl-8 col-lg-10 col-md-11 col-sm-8 top-10 make-center text-center div-mobile-version"
        >
          <a class="skip-page" (click)="skipAll()">{{
            'link-social-networks-later' | translate
          }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer-social-registartion></app-footer-social-registartion>
